{% extends 'pms/base.html' %}
{% load custompms %}
{% block body %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
  setTimeout(function () {
    $('#alert').alert('close');
  }, 4000);
        </script>
    {% endfor %}
    <style>
  .chartBox {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
    justify-content: center;
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  #line-graph {
    width: 100%;
    height: 100%;
    margin: 8px;
    margin-right: 16px;
  }
  @media screen and (max-width: 400px) {
    #line-graph {
      width: 100vw;
      height: 100%;
      margin: 0px;
      margin-right: 0px;
    }
  }
    </style>
    <form action="/api/pms/v1/get-data/" method="POST">
        {% csrf_token %}
        {% include 'pms/components/pms_category.html' %}
        <br />
        {% include 'pms/components/date_range_comp.html' %}
        <br />
        <div class="chartBox">
            <div class="chart-container">
                <div id="line-graph"></div>
            </div>
            <script>
      let data = {{ filtered_data | safe }};
      let sensorsById = {{ sensors_by_id | safe }};

      var datasets = {};

      data.forEach(function (entry) {
        var sensorName = sensorsById[entry.sensor];
        if (!datasets[sensorName]) {
          datasets[sensorName] = {
            name: sensorName,
            data: [],
            color: getRandomColor(),
          };
        }

        var dateTime = moment.utc(entry.created_at).valueOf();

        datasets[sensorName].data.push([dateTime, entry.data]);
      });

      var seriesData = Object.values(datasets);

      Highcharts.chart('line-graph', {
        chart: {
          type: 'line',
          zoomType: 'x',
        },
        title: {
          text: 'Sensor Data Over Time',
        },
        xAxis: {
          type: 'datetime',
          title: {
            text: 'Date and Time',
          },
        },
        yAxis: {
          title: {
            text: 'Data Value',
          },
        },
        series: seriesData,
        plotOptions: {
          series: {
            cursor: 'pointer',
            point: {
              events: {
                click: function () {
                  console.log('Sensor:', this.series.name);
                  console.log('Data Value:', this.y);
                },
              },
            },
          },
        },
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 400,
              },
            },
          ],
        },
      });

      function getRandomColor() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 128);
        var b = Math.floor(Math.random() * 128);

        var color = '#' + r.toString(16).padStart(2, '0') +
                            g.toString(16).padStart(2, '0') +
                            b.toString(16).padStart(2, '0');

        return color;
      }

            </script>
        </div>
    </form>
{% endblock %}
