{% extends 'pms/base.html' %}
{% load custompms %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% if message %}
        <div id="alert" class="alert" style="color: red; border: red solid 2px;">{{ message }}</div>
        <script type="text/javascript">
  setTimeout(function () {
    $('#alert').alert('close');
  }, 8000);
        </script>
    {% endif %}
    <style>
  .chartBox {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
    justify-content: center;
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  #pie-chart {
    width: 100vw;
    height: 100vh;
  }
    </style>
    <form action="/api/pms/v1/get-data/" method="POST">
        {% csrf_token %}
        {% include 'pms/components/pms_category.html' %}
        <br />
        {% include 'pms/components/date_range_comp.html' %}
        <br />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- <div class="chartBox">
    <div class="chart-container">
      <canvas id="pie-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      function fetchPieChartData() {
        $.ajax({
          url: '/api/pms/v1/get-pie-chart-data/',
          type: 'POST',
          csrfmiddlewaretoken: '{{ csrf_token }}',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function (data) {
            renderPieChart(data);
          },
          error: function () {
            console.error('Failed to fetch pie chart data.');
          },
        });
      }

      function renderPieChart(data) {
        var pieChartCanvas = document
          .getElementById('pie-chart')
          .getContext('2d');

        new Chart(pieChartCanvas, {
          type: 'pie',
          data: {
            labels: data.sensors,
            datasets: [
              {
                data: data.data,
                backgroundColor: data.backgroundColor,
              },
            ],
          },
        });
        console.log('all devices available are ' + data.devices);
        console.log('all sensors available are ' + data.sensors);
      }

      fetchPieChartData();
</script>
  </div> -->
        <center>
            <div style="background-color: white; padding: 20px; width: 90%;">
                <center>
                    <h1>
                        <center>
                            <h2>Please add filters to see graph</h2>
                        </center>
                    </h1>
                </center>
            </div>
        </center>
    </form>
{% endblock %}
