{% load custompms %}
{% load static %}
<style>
  .vscomp-wrapper {
    width: 100% !important;
  }
  .select-type-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .select-type {
    width: 45%;
  }
  .vscomp-ele {
    width: 100% !important;
  }
  @media screen and (max-width: 1250px) {
    .select-type-wrapper {
      flex-direction: column !important;
      align-items: center;
    }
    .select-type-two {
      width: 70%;
      margin-top: 10px;
    }
    .vscomp-ele {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 800px) {
    .select-type-two {
      width: 90%;
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 620px) {
    .select-type-two {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
    }
    .select-type {
      width: 95%;
      margin-top: 10px;
    }
  }
</style>
<div class="form-check">
    <div class="select-type-wrapper"
         style="display: flex;
                flex-direction: row;
                justify-content: center">
        <div class="select-type-two">
            <div class="select-type d-flex justify-content-center align-items-center">
                <select id="sensor-dropdown"
                        name="sensor-dropdown"
                        multiple
                        placeholder="Select Sensor"
                        multiple>
                    {% if not available_sensors %}
                        <option value="u1" selected>No sensors in your Device</option>
                    {% else %}
                        {% for sensor in available_sensors %}<option value="{{ sensor }}" selected>{{ sensor }}</option>{% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="select-type d-flex justify-content-center align-items-center">
                <select id="device-dropdown"
                        name="device-dropdown"
                        multiple
                        placeholder="Select Device Number"
                        multiple>
                    {% if not available_devices %}
                        <option value="u1" selected>You don't have nay registered Device</option>
                    {% else %}
                        {% for device in available_devices %}<option value="{{ device }}" selected>{{ device }}</option>{% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
        ele: '#sensor-dropdown',
        search: true,
        optionsCount: 7,
        showSelectedOptionsFirst: true,
    });

    VirtualSelect.init({
        ele: '#device-dropdown',
        search: true,
        optionsCount: 7,
        showSelectedOptionsFirst: true,
    });

    document.querySelector('#sensor-dropdown').addEventListener('change', function () {
        var selected_sensor = this.value;
        console.log('Selected Sensor:', selected_sensor);
    });

    document.querySelector('#device-dropdown').addEventListener('change', function () {
        var selected_devices = this.value;
        console.log('Selected Devices:', selected_devices);
    });
    </script>
</div>
