{% block body %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Request For Create User</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                  crossorigin="anonymous" />
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                    crossorigin="anonymous"></script>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
                  rel="stylesheet" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <style>
      nav {
        background-color: #166fe5;
      }

      body {
        background-color: #f0f2f5;
      }

      .mb-5 {
        margin-bottom: 2rem !important;
      }

      .p-5 {
        padding: 2.2rem !important;
      }

      #password {
        width: 363.84px;
        height: 48px;
        padding: 8px 16px;
        background-color: #e8f0fe;
        border-radius: 0.3rem;
      }

      .input-form-class {
        outline-style: solid;
        outline-color: #ced4da;
        outline-width: thin;
        background-color: #e8f0fe;
        display: flex;
        border-radius: 0.3rem;
      }

      input[password]::-ms-reveal {
        display: none;
      }

      .gradient-custom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      body {
        height: calc(100vh - 60px);
        min-height: 730px;
      }

      .alert {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 70px;
      }

      @media (max-width: 767px) {
        .p-5 {
          padding: 0.4rem !important;
        }

        .row > * {
          padding-right: calc(var(--bs-gutter-x) * 0.3);
          padding-left: calc(var(--bs-gutter-x) * 0.3);
        }

        #login_text {
          margin-top: 20px;
        }

        #sign_up_text {
          margin-bottom: 1.5rem !important;
        }
      }
      .custom-bg-lighter {
        background-color: #acf0a3;
      }

      .hover-div {
        position: relative;
      }

      .hover-text {
        display: none;
        position: absolute;
        top: 100%;
        left: 20;
        background-color: #f99f9f;
        padding: 5px;
      }

      .hover-div:hover .hover-text {
        display: block;
      }

      .verify_error {
        width: 100%;
        font-size: large;
        font-weight: 600;
        color: red;
        padding: 10px;
        border: 1px solid red;
        border-radius: 5px;
        margin-top: 15px;
        display: none;
      }

      .verify_success {
        width: 100%;
        font-size: large;
        font-weight: 600;
        color: green;
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        margin-top: 15px;
        display: none;
      }
            </style>
        </head>
        <body>
            <nav class="navbar navbar-expand-lg">
                <a href="/"
                   class="navbar-brand mx-4"
                   id="nav"
                   style="font-weight: 500;
                          font-size: 3.4vh;
                          color: white">Sarva Suvidhaen Pvt Ltd</a>
            </nav>
            <section class="gradient-custom">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card"
                                 style="box-shadow: 0px 0px 5px 5px rgb(155, 163, 158, 0.3);
                                        border-radius: 1rem;
                                        background-image: white">
                                <div class="card-body text-center" style="padding: 0px">
                                    <div style="height: 80px;
                                                background-color: #166fe5;
                                                padding: 20px;
                                                border-radius: 1rem 1rem 0rem 0rem">
                                        <h2 class="fw-bold text-uppercase"
                                            style="color: white;
                                                   font-family: 'Ubuntu', sans-serif"
                                            id="login_text">Request a USER</h2>
                                    </div>
                                    {% for message in messages %}
                                        <div id="alert" class="alert alert-{{ message.tags }}">
                                            <b>{{ message }}</b>
                                        </div>
                                        <script type="text/javascript">
                  setTimeout(function () {
                    $('#alert').alert('close');
                  }, 4000);
                                        </script>
                                    {% endfor %}
                                    <div class="mb-md-0 mt-md-0 pb-0 p-5">
                                        <form action="/auth/request_user/" method="post">
                                            {% csrf_token %}
                                            <div class="form-outline form-white mb-4">
                                                <input type="text"
                                                       name="username"
                                                       id="username"
                                                       class="form-control form-control-lg"
                                                       placeholder="Username"
                                                       required />
                                            </div>
                                            <div class="verify_error" id="emailError"></div>
                                            <div class="verify_success" id="emailSuccess"></div>
                                            <div class="form-outline form-white mb-4"
                                                 style="display: flex;
                                                        flex-direction: row;
                                                        justify-content: space-around;
                                                        align-items: center">
                                                <input type="email"
                                                       name="email"
                                                       id="email"
                                                       class="form-control form-control-lg"
                                                       placeholder="Email"
                                                       required />
                                                <button id="verifyEmailBtn"
                                                        class="btn btn-primary btn-sm px-5 mx-0 mt-0"
                                                        type="button">Verify Email</button>
                                            </div>
                                            <div id="otpInputGroup" style="display: none">
                                                <div class="form-outline form-white mb-4"
                                                     style="display: flex;
                                                            flex-direction: row;
                                                            justify-content: space-around;
                                                            align-items: center">
                                                    <input type="text"
                                                           name="otp"
                                                           id="otp"
                                                           class="form-control form-control-lg"
                                                           placeholder="Enter OTP"
                                                           required />
                                                    <button id="confirmOtpBtn"
                                                            class="btn btn-primary btn-sm px-5 mx-0 mt-0"
                                                            type="button"
                                                            style="color: white">Confirm OTP</button>
                                                </div>
                                                <div>
                                                    <span id="emailTimer" style="margin-top: -4%; margin-bottom: 8%;"></span>
                                                    <button id="resendEmailOtpBtn"
                                                            class="btn btn-primary"
                                                            type="button"
                                                            style="margin-top: -4%;
                                                                   margin-bottom: 8%;
                                                                   display: none">Resend OTP</button>
                                                </div>
                                            </div>
                                            <div class="verify_error" id="phoneError"></div>
                                            <div class="verify_success" id="phoneSuccess"></div>
                                            <div class="form-outline form-white mb-4 hover-div"
                                                 style="display: flex;
                                                        flex-direction: row;
                                                        justify-content: space-around;
                                                        align-items: center">
                                                <input type="text"
                                                       name="phone"
                                                       id="phone"
                                                       class="form-control form-control-lg"
                                                       placeholder="Phone Number"
                                                       maxlength="12"
                                                       oninput="validatePhone(this)"
                                                       required />
                                                <!-- {% comment %}
                      <script>
                        function validatePhone(input) {
                          const phone = input.value.replace(/\D/g, ''); // Remove non-digit characters
                          console.log(phone);
                          if (phone.length !== 10 && phone.length !== 12) {
                            input.setCustomValidity(
                              'Phone number must be 10 or 12 digits long.'
                            );
                          } else {
                            input.setCustomValidity('');
                          }
                        }
</script>
                                                {% endcomment %} -->
                                                <button id="verifyPhoneBtn"
                                                        class="btn btn-primary btn-sm px-5 mx-0 mt-0"
                                                        type="button">Verify Phone</button>
                                                <span class="hover-text" id="hoverTextPhone">Verify Email to enable Phone</span>
                                            </div>
                                            <div id="otpInputGroupPhone" style="display: none">
                                                <div class="form-outline form-white mb-4"
                                                     style="display: flex;
                                                            flex-direction: row;
                                                            justify-content: space-around;
                                                            align-items: center">
                                                    <input type="text"
                                                           name="phone_otp"
                                                           id="phone_otp"
                                                           class="form-control form-control-lg"
                                                           placeholder="Enter OTP"
                                                           required />
                                                    <button id="confirmPhoneOtpBtn"
                                                            class="btn btn-primary btn-sm px-5 mx-0 mt-0"
                                                            type="button"
                                                            style="color: white">Confirm OTP</button>
                                                </div>
                                                <div>
                                                    <span id="phoneTimer" style="margin-top: -4%; margin-bottom: 8%;"></span>
                                                    <button id="resendPhoneOtpBtn"
                                                            class="btn btn-primary"
                                                            type="button"
                                                            style="margin-top: -4%;
                                                                   margin-bottom: 8%;
                                                                   display: none">Resend OTP</button>
                                                </div>
                                            </div>
                                            <!-- <div class="form-outline form-white mb-4" style="color: blue">
                                                <select class="form-select"
                                                        id="for_post"
                                                        name="for_post"
                                                        aria-label="Default select example"
                                                        style="border-radius: 25px;
                                                               height: 48px;
                                                               font-family: 'Ubuntu', sans-serif;
                                                               font-size: 20px"
                                                        required>
                                                    <option selected hidden disabled value="">--- Select Post ---</option>
                                                    <option value="Normal User">Normal User</option>
                                                    <option value="Moderator">Moderator</option>
                                                    <option value="Railway Admin">Railway Admin</option>
                                                </select>
                                            </div> -->
                                            <div class="form-outline form-white mb-2 my-0 mt-0" style="color: blue">
                                                <!-- <label class="form-label" for="typePasswordX">Password</label> -->
                                                <div class="input-form-class" style="border-radius: 25px">
                                                    <input type="password"
                                                           name="password"
                                                           id="password"
                                                           style="width: 95%;
                                                                  border: none;
                                                                  resize: none;
                                                                  outline: none;
                                                                  background-color: white;
                                                                  font-family: 'Ubuntu', sans-serif;
                                                                  font-size: 20px;
                                                                  border-radius: 25px 0px 0px 25px"
                                                           placeholder="Password"
                                                           required />
                                                    <i class="fa fa-eye my-1" id="togglePassword" style="padding: 10px"></i>
                                                </div>
                                                <br />
                                                <div class="form-outline form-white mb-2 my-0 mt-0" style="color: blue">
                                                    <!-- <label class="form-label" for="typePasswordX">Re-Enter Password</label> -->
                                                    <div class="input-form-class" style="border-radius: 25px">
                                                        <input type="password"
                                                               name="re-password"
                                                               id="re-password"
                                                               style="width: 95%;
                                                                      border: none;
                                                                      resize: none;
                                                                      outline: none;
                                                                      background-color: white;
                                                                      font-family: 'Ubuntu', sans-serif;
                                                                      font-size: 20px;
                                                                      border-radius: 25px 0px 0px 25px;
                                                                      padding-left: 10px"
                                                               placeholder="Confirm Password"
                                                               required />
                                                        <i class="fa fa-eye my-1" id="togglePassword2" style="padding: 10px"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-lg px-5 mx-0 mt-0"
                                                    type="submit"
                                                    id="sign_up_btn"
                                                    style="color: white">Submit</button>
                                        </form>
                                    </div>
                                    <div style="color: blue; font-size: 17px; margin-bottom: 10px">
                                        <p id="sign_up_text" style="margin: 0px; color: gray">Already Have an account?</p>
                                        <a href="/auth/login"
                                           class="text-blue-50 fw-bold"
                                           style="text-decoration: none">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script>
              function showEmailError(message) {
                emailError.textContent = message;
                emailError.style.display = 'block';
                setTimeout(() => {
                  emailError.style.display = 'none';
                }, 3000);
              }

              function showEmailSuccess(message) {
                emailSuccess.textContent = message;
                emailSuccess.style.display = 'block';
                setTimeout(() => {
                  emailSuccess.style.display = 'none';
                }, 3000);
              }

              function showPhoneError(message) {
                phoneError.textContent = message;
                phoneError.style.display = 'block';
                setTimeout(() => {
                  phoneError.style.display = 'none';
                }, 3000);
              }

              function showPhoneSuccess(message) {
                phoneSuccess.textContent = message;
                phoneSuccess.style.display = 'block';
                setTimeout(() => {
                  phoneSuccess.style.display = 'none';
                }, 3000);
              }

              const verifyEmailBtn = document.querySelector('#verifyEmailBtn');
              const otpInputGroup = document.querySelector('#otpInputGroup');
              const otpInputGroupPhone = document.querySelector('#otpInputGroupPhone');
              const confirmOtpBtn = document.querySelector('#confirmOtpBtn');
              const confirmPhoneOtpBtn = document.querySelector('#confirmPhoneOtpBtn');
              const emailInput = document.querySelector('#email');
              const phoneInput = document.querySelector('#phone');
              const verifyPhoneBtn = document.querySelector('#verifyPhoneBtn');
              // Other fields
              const submitBtn = document.querySelector('#sign_up_btn');
              const hoverTextPhone = document.querySelector('#hoverTextPhone');
              const togglePassword2 = document.querySelector('#togglePassword2');
              const password2 = document.querySelector('#re-password');
              const passwordField = document.querySelector('#password')
              const selctionField = document.querySelector('#for_post')

              phoneInput.disabled = true;
              verifyPhoneBtn.disabled = true;
              submitBtn.disabled = true;
              password2.disabled = true;
              passwordField.disabled = true;
              selctionField.disabled = true;

              verifyEmailBtn.addEventListener('click', function () {
                const email = document.querySelector('#email').value;
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                  console.log('Invalid email');
                  showEmailError('Invalid Email');
                  emailInput.classList.add('bg-red-100');
                  return;
                }
                const registrationData = {
                  email: email,
                };

                setCookie(
                  'registration_data_to_validate',
                  JSON.stringify(registrationData),
                  30
                );

                fetch('/auth/email_otp_send/', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify({ email: email }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if (
                      data.message ===
                      'Email sent successfully, Please check your Email.'
                    ) {
                      otpInputGroup.style.display = 'block';
                      verifyEmailBtn.style.display = 'none';
                      showEmailSuccess(data.message);

                      //countdown timer
                      let timeLeft = 120;
                      let resendEmailOtpBtn = document.getElementById('resendEmailOtpBtn');
                      let emailTimer = document.getElementById('emailTimer');
                      emailTimer.style.display = 'block';
                      let timer = setInterval(function() {
                          timeLeft--;
                          emailTimer.textContent = `Resend OTP after: ${timeLeft} seconds`;
                          if (timeLeft <= 0) {
                              clearInterval(timer);
                              resendEmailOtpBtn.style.display = 'block';
                              emailTimer.style.display = 'none';

                              resendEmailOtpBtn.addEventListener('click', function() {
                              resendEmailOtpBtn.style.display = 'none';
                              otpInputGroup.style.display = 'none';
                              verifyEmailBtn.style.display = 'block';
                              });
                          }
                      }, 1000);

                    } else {
                      otpInputGroup.style.display = 'none';
                      verifyEmailBtn.style.display = 'block';
                      showEmailError(data.message);
                      console.log(data.message);
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                  });
                hoverTextPhone.style.display = 'none';
              });

              confirmOtpBtn.addEventListener('click', function () {
                const otp = document.querySelector('#otp').value;

                const registrationData = {
                  otp: otp,
                };

                setCookie(
                  'registration_data_to_validate',
                  JSON.stringify(registrationData),
                  30
                );
                let timestamp;
                fetch('/auth/email_otp_val/', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify({ otp }),
                })
                  .then((response) => {
                    timestamp = response.headers.get('X-Timestamp');
                    return response.json();
                  })
                  .then((data) => {
                    if (timestamp) {
                      const currentTimestamp = Math.floor(Date.now() / 1000);
                      const expirationTimestamp = parseInt(timestamp);
                      if (currentTimestamp <= expirationTimestamp) {
                        otpInputGroup.style.display = 'none';
                        emailInput.classList.add('custom-bg-lighter');
                        emailInput.disabled = true;
                        phoneInput.disabled = false;
                        verifyPhoneBtn.disabled = false;
                        hoverTextPhone.style.display = 'none';
                      } else {
                        emailInput.disabled = false;
                        phoneInput.disabled = true;
                        verifyPhoneBtn.disabled = true;
                      }
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                  });
                hoverTextPhone.style.display = 'none';
              });

              verifyPhoneBtn.addEventListener('click', function () {
                const phone = document.querySelector('#phone').value;
                if (/[^0-9]/.test(phone) || phone.length !== 10) {
                  console.log('Invalid Phone Number');
                  showPhoneError('Invalid Phone Number');
                  phoneInput.classList.add('bg-red-100');
                  return;
                }
                const registrationData = {
                  phone: phone,
                };

                setCookie(
                  'registration_data_to_validate',
                  JSON.stringify(registrationData),
                  30
                );

                fetch('/auth/phone_otp_send/', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify({ phone: phone }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if (
                      data.message === 'Number already registered' ||
                      data.message === 'OTP Failed to send'
                    ) {
                      console.log(data.message);
                      showPhoneError(data.message);
                      otpInputGroupPhone.style.display = 'none';
                      verifyPhoneBtn.style.display = 'block';
                      phoneInput.classList.add('bg-red-100');
                    } else {
                      showPhoneSuccess(data.message);
                      otpInputGroupPhone.style.display = 'block';
                      verifyPhoneBtn.style.display = 'none';

                      //countdown timer
                      let timeLeft = 120;
                      let resendPhoneOtpBtn = document.getElementById('resendPhoneOtpBtn');
                      let phoneTimer = document.getElementById('phoneTimer');
                      phoneTimer.style.display = 'block';
                      let timer = setInterval(function() {
                          timeLeft--;
                          phoneTimer.textContent = `Resend OTP after: ${timeLeft} seconds`;
                          if (timeLeft <= 0) {
                              clearInterval(timer);
                              resendPhoneOtpBtn.style.display = 'block';
                              phoneTimer.style.display = 'none';

                              resendPhoneOtpBtn.addEventListener('click', function() {
                                  resendPhoneOtpBtn.style.display = 'none';
                                  otpInputGroupPhone.style.display = 'none';
                                  verifyPhoneBtn.style.display = 'block';
                                  phoneInput.classList.add('bg-red-100');
                              });
                          }
                      }, 1000);
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              });

              confirmPhoneOtpBtn.addEventListener('click', function () {
                const phone_otp = document.querySelector('#phone_otp').value;

                const registrationData = {
                  phone_otp: phone_otp,
                };

                setCookie(
                  'registration_data_to_validate',
                  JSON.stringify(registrationData),
                  30
                );

                fetch('/auth/phone_otp_val/', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                  },
                  body: JSON.stringify({ phone_otp }),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.message === 'OTP Verified') {
                      otpInputGroupPhone.style.display = 'none';
                      showPhoneSuccess(data.message);
                      phoneInput.classList.add('custom-bg-lighter');
                      phoneInput.disabled = true;
                      submitBtn.disabled = false;
                      password2.disabled = false;
                      passwordField.disabled = false;
                      selctionField.disabled = false;
                    } else {
                      showPhoneError(data.message);
                      phoneInput.disabled = false;
                    }
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              });

              document
                .getElementById('sign_up_btn')
                .addEventListener('click', function () {
                  emailInput.disabled = false;
                  phoneInput.disabled = false;
                });

              function setCookie(name, value, minutes) {
                const date = new Date();
                date.setTime(date.getTime() + minutes * 60 * 1000);
                const expires = 'expires=' + date.toUTCString();
                document.cookie = name + '=' + value + ';' + expires + ';path=/';
              }

              function getCookie(name) {
                const cookieName = name + '=';
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                  let cookie = cookies[i];
                  while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                  }
                  if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length, cookie.length);
                  }
                }
                return '';
              }

              const togglePassword = document.querySelector('#togglePassword');
              const password = document.querySelector('#password');

              togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type =
                  password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
              });

              togglePassword2.addEventListener('click', function (e) {
                // toggle the type attribute
                const type =
                  password2.getAttribute('type') === 'password' ? 'text' : 'password';
                password2.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
              });
            </script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
        </body>
    </html>
{% endblock %}
