{% load customrailmadad %}
{% load static %}
<style>
@media screen and (max-width: 1300px){
  .select-type-wrapper{
    width: 65% !important;
  }
}
@media screen and (max-width: 825px){
  .select-type-wrapper{
    width: 75% !important;
  }
}
@media screen and (max-width: 700px){
  .select-type-wrapper{
    flex-direction: column !important;
  }
  .select-type{
    margin-top: 10px;
  }
}
</style>
<center>
    <div class="select-type-wrapper"
         style="display: flex;
                flex-direction: row;
                justify-content: center;
                justify-content: space-between;
                width: 50%;
                align-items: center">
        <div class="d-flex justify-content-center align-items-center select-type">
            <select id="coach-number-dropdown"
                    name="coach-number-dropdown"
                    multiple
                    placeholder="Select coach number"
                    multiple>
                {% for physical_coach_number in physical_coach_number %}
                    <option value="{{ physical_coach_number|convertint }}">{{ physical_coach_number|convertint }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-type d-flex justify-content-center select-type">
            <select id="complain-dropdown"
                    name="complain-dropdown"
                    multiple
                    placeholder="Select complain category"
                    multiple>
                <optgroup label="Select critical">
                    {% for all_t in critical_type %}<option value="{{ all_t }}">{{ all_t }}</option>{% endfor %}
                </optgroup>
                {% for all_t in all_type %}
                    {% if all_t not in critical_type %}<option value="{{ all_t }}">{{ all_t }}</option>{% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</center>
<script type="text/javascript"
        src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
<script type="text/javascript">
    VirtualSelect.init({
      ele: '#complain-dropdown',
      search: true,
      // optionSelectedText: 'option selected',
      // noOfDisplayValues: 1,
      // alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      // showSelectedOptionsFirst: true,
    });

    VirtualSelect.init({
      ele: '#coach-number-dropdown',
      search: true,
      // optionSelectedText: 'option selected',
      // noOfDisplayValues: 1,
      // alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      showSelectedOptionsFirst: true,
    });

    var inputs = document.getElementsByClassName("vscomp-search-input");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].placeholder = "select all, type here to search";
      }

    document.querySelector('#complain-dropdown').setValue([{% for x in complain_type %} "{{x}}", {% endfor %}]);
    document.querySelector('#coach-number-dropdown').setValue([{% for x in physical_coach_number_list %} "{{x}}", {% endfor %}]);
</script>
