{% load customrailmadad %}
{% load static %}
<style>
    /* .vscomp-wrapper{
        width: 250px !important;
    } */
    @media screen and (max-width:1330px){
      .select-type-wrapper{
        width: 60% !important;
      }
    }
    @media screen and (max-width:1150px){
      .select-type-wrapper{
        width: 75% !important;
      }
    }
    @media screen and (max-width:750px){
      .select-type-wrapper{
        flex-direction: column !important;
        margin-right: 30px;
        /* width: 75% !important; */
      }
      .select-type{
        margin-top: 10px;
      }
    }
</style>
<div class="form-check">
    <center>
        <div class="select-type-wrapper"
             style="display: flex;
                    flex-direction: row;
                    justify-content: center;
                    justify-content: space-between;
                    width: 50%">
            <div class="d-flex justify-content-center align-items-center select-type">
                <select id="category-dropdown"
                        name="category-dropdown"
                        multiple
                        placeholder="Select category"
                        multiple>
                    {% for category in trains_cat %}
                        {% if category != "all" %}<option value="{{ category }}">{{ category|upper }}</option>{% endif %}
                    {% endfor %}
                    <option value="other">OTHER</option>
                </select>
            </div>
            <div class="d-flex justify-content-center align-items-center select-type">
                <select id="train-number-dropdown"
                        name="train-number-dropdown"
                        multiple
                        placeholder="Select train number"
                        multiple>
                    {% for train_number in main_train %}
                        <option value="{{ train_number|convertint }}">{{ train_number|convertint }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <div>
            {% if merge %}
            <input type="checkbox" name="merge" class="check" value="merged" checked />
            {% else %}
            <input type="checkbox" name="merge" class="check" value="merged" />
            {% endif %}
            <label style="margin:auto 0px"><h7>Merge Satisfactory & Not Rated</h7></label>
</div> -->
        </div>
        <br />
    </center>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#category-dropdown',
      search: true,
      // optionSelectedText: 'option selected',
      // noOfDisplayValues: 1,
      // alwaysShowSelectedOptionsCount: true,
      optionsCount: 8,
      showSelectedOptionsFirst: true,
    });

    VirtualSelect.init({
      ele: '#train-number-dropdown',
      search: true,
      // optionSelectedText: 'option selected',
      // noOfDisplayValues: 1,
      // alwaysShowSelectedOptionsCount: true,
      optionsCount: 8,
      showSelectedOptionsFirst: true,
    });
    
    start = 0;

    var inputs = document.getElementsByClassName("vscomp-search-input");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].placeholder = "select all, type here to search";
      }

    document.querySelector('#category-dropdown').addEventListener('change', function() {
      if(start==2){
        var selected_train = [];
        for (let i = 0; i < this.value.length; i++) {
          if (this.value[i] == 'rncc'){
              {% for train_number in rncc %}
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'rgd'){
              {% for train_number in rgd %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'dnr'){
              {% for train_number in dnr %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'pnbe'){
              {% for train_number in pnbe %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'ppta'){
              {% for train_number in ppta %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'ipr'){
              {% for train_number in ipr %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'keu'){
              {% for train_number in keu %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'mka'){
              {% for train_number in mka %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if (this.value[i] == 'ara'){
              {% for train_number in ara %} 
                selected_train.push({{train_number}})
              {% endfor %}
          }
          if(this.value[i] == 'other'){
          {% for train_number in other %} 
            selected_train.push({{train_number}})
          {% endfor %}
          }
        }
        document.querySelector('#train-number-dropdown').setValue(selected_train);
      }
      else{
        start = start+1;
      }
    });

    document.querySelector('#category-dropdown').setValue([{% for x in check_type %} "{{x}}", {% endfor %}]);
    document.querySelector('#train-number-dropdown').setValue([{% for x in train_numbers %} "{{x|convertint}}", {% endfor %}]);
    </script>
