{% load customcmm %}
{% block body %}
    {% load static %}
    <style>
    .coach-number-class .vscomp-wrapper{
        width: 270px !important;
    }
    .coach-number-class{
        width: 270px !important;
    }
    @media (max-width: 990px) {
        .coach-number-class{
            margin-left: 0px !important;
        }
    }
    </style>
    <div class="coach-number-class" style="margin-left: 20px;">
        <select id="coach-number-dropdown"
                name="coach-number-dropdown"
                multiple
                placeholder="Select coach number"
                multiple>
            {% for coach in coach_numbers %}<option value="{{ coach }}">{{ coach }}</option>{% endfor %}
        </select>
    </div>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#coach-number-dropdown',
      search: true,
      optionSelectedText: 'option selected',
      noOfDisplayValues: 1,
      alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      showSelectedOptionsFirst: true,
    });

    document.querySelector('#coach-number-dropdown').setValue([{% for x in checked_coach_numbers %} "{{x}}", {% endfor %}]);
    </script>
{% endblock %}
