{% load customcmm %}
{% block body %}
    {% load static %}
    <div class="">
        <select id="complain-id-dropdown"
                name="complain-id-dropdown"
                multiple
                placeholder="Select complain id"
                multiple>
            {% for complain in complaint_ids %}<option value="{{ complain }}">{{ complain }}</option>{% endfor %}
        </select>
    </div>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#complain-id-dropdown',
      search: true,
      optionSelectedText: 'option selected',
      noOfDisplayValues: 1,
      alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      showSelectedOptionsFirst: true,
    });

    document.querySelector('#complain-id-dropdown').setValue([{% for x in checked_complains %} "{{x}}", {% endfor %}]);
    </script>
{% endblock %}
