<center class="center">
    <div class="head my-2"
         style="display: flex;
                flex-direction: row;
                width: 60%;
                justify-content: space-around">
        <h6>Complaint Date</h6>
        <div class="d-inline muted text-danger">
            <small>* Required</small>
        </div>
    </div>
    <div class="container">
        {% if complain_start %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="complain_start">
                        <b>From:</b>
                    </label>
                    <input id="complain-start"
                           type="date"
                           name="complain-start"
                           value="{{ complain_start }}"
                           required>
                </div>
                <div>
                    <label for="complain_end">
                        <b>To:</b>
                    </label>
                    <input id="complain-end"
                           type="date"
                           name="complain-end"
                           value="{{ complain_end }}"
                           required>
                </div>
            </div>
        {% else %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="complain_start">
                        <b>From:</b>
                    </label>
                    <input id="complain-start" type="date" name="complain-start"  required>
                </div>
                <div>
                    <label for="complain_end">
                        <b>To:</b>
                    </label>
                    <input id="complain-end" type="date" name="complain-end" required>
                </div>
            </div>
        {% endif %}
    </div>
</center>
