{% load customcmm %}
{% block body %}
    {% load static %}
    <style>
    .failed_assembly{
        width: 500px !important;
    }
    .failed_assembly .vscomp-wrapper{
        width: 500px !important;
    }
    @media (max-width: 767px) {
        .failed_assembly{
            width: 270px !important;
            margin-left: 0px !important;
        }
        .failed_assembly .vscomp-wrapper{
            width: 270px !important;
        }
    }
    </style>
    <div class="failed_assembly " style="margin-left: 20px;">
        <select id="failed-assemblys-dropdown"
                name="failed-assemblys-dropdown"
                multiple
                placeholder="Select failed assembly"
                multiple>
            {% for fail in failed_assembly %}<option value="{{ fail }}">{{ fail }}</option>{% endfor %}
        </select>
    </div>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#failed-assemblys-dropdown',
      search: true,
      optionSelectedText: 'option selected',
      noOfDisplayValues: 1,
      alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
    //   showSelectedOptionsFirst: true,
    });

    // var failed_assembly_js = {{failed_assembly|safe}}
    // var failed_assemblys_2_js = {{ failed_assemblys_2|safe }}

    // for(var i =0; i<172; i++){
    //     if(failed_assembly_js[i] != failed_assemblys_2_js[i]){
    //         console.log(i)
    //         console.log(failed_assembly_js[i],failed_assembly_js[i].trim().length)
    //         console.log(failed_assemblys_2_js[i],failed_assemblys_2_js[i].trim().length)
    //     }
    // }

    document.querySelector('#failed-assemblys-dropdown').setValue({{ failed_assembly_checked_data|safe }});
    </script>
{% endblock %}
