{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block url_name %}Add Coach Number{% endblock %}
{% block url_title %}Data{% endblock %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/railmadad/show_physical_coach_number/"> <i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">See The Data</li>
    <li class="breadcrumb-item">
        <a href="/railmadad/show_physical_coach_number/">Show Coach Number</a>
    </li>
{% endblock %}
{% block title %}Add Coach Number{% endblock %}
{% block body %}
    <style>
  a:link,
  a:visited,
  a:hover,
  a:active {
    /* color: rgb(0, 0, 0); */
    text-decoration: none;
  }

  th a,
  td a {
    display: block;
    width: 100%;
  }

  th a.sort-by {
    padding-right: 18px;
    position: relative;
  }

  th a.sort-by:hover {
    color: rgb(0, 84, 87);
  }

  a.sort-by:before,
  a.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
  }

  @media (max-width: 991px) {
    .responsive > thead th {
      display: none;
    }

    .responsive > tbody td,
    .responsive > tbody th {
      display: block;
    }

    .responsive > tbody > tr:nth-child(even) td,
    .responsive > tbody > tr:nth-child(even) th {
      background-color: #eee;
    }

    [row-header] {
      position: relative;
      width: 50%;
      vertical-align: middle;
    }

    [row-header]:before {
      content: attr(row-header);
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      width: 50%;
      padding-right: 30px;
    }
  }
    </style>
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
  setTimeout(function () {
    $("#alert").alert("close");
  }, 4000);
        </script>
    {% endfor %}
    <form action="/railmadad/show_physical_coach_number/" method="post">
        {% csrf_token %}
        <center class="center">
            <h5>Filter Data:-</h5>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            {% if post %}
                <label for="start_date">
                    <u>
                        <h4>
                            <b>Enter Date For which you want to Add Coach Number</b>
                        </h4>
                    </u>
                </label>
                <br />
                <input id="start-date"
                       type="date"
                       name="start_date"
                       value="{{ start_date }}"
                       required="True" />
            {% else %}
                <label for="start_date">
                    <u>
                        <h4>
                            <b>Enter Date For which you want to Add Coach Number</b>
                        </h4>
                    </u>
                </label>
                <br />
                <input id="start-date" type="date" name="start_date" required="True" />
            {% endif %}
            <button type="submit" class="btn btn-danger my-2">Submit</button>
        </center>
    </form>
    {% if post %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col" column="1">Sl No.</th>
                        <th class="col" column="2">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=reference&order={{ order }}"
                               class="sort-by">Reference Number</a>
                        </th>
                        <th class="col" column="3">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=coach-number&order={{ order }}"
                               class="sort-by">Add Coach Number</a>
                        </th>
                        <th class="col" column="4">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=train-number&order={{ order }}"
                               class="sort-by">Train Number</a>
                        </th>
                        <th class="col" column="5">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=type&order={{ order }}"
                               class="sort-by">Complain Type</a>
                        </th>
                        <th class="col" column="6">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=reg-date&order={{ order }}"
                               class="sort-by">Registration Date</a>
                        </th>
                        <th class="col" column="7">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=staff&order={{ order }}"
                               class="sort-by">Escort Staff</a>
                        </th>
                        <th class="col" column="8">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=sub-type&order={{ order }}"
                               class="sort-by">Sub Type</a>
                        </th>
                        <th class="col" column="9">
                            <a href="/railmadad/show_physical_coach_number?start_date={{ start_date }}&sort_method=rating&order={{ order }}"
                               class="sort-by">Rating</a>
                        </th>
                    </tr>
                </thead>
            {% else %}
            {% endif %}
            {% if post %}
                <form action="/railmadad/add_physical_coach_number/" method="POST">
                    {% csrf_token %}
                    <tbody>
                        <!-- {% for md in main_data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <th scope="row">{{md.reference_number|convertint}}</th>
        {% if md.physical_coach_number == 0 %}
        <th scope="row"><input name="input-{{forloop.counter}}-{{md.id}}" type="number" value=""></th>
        {% else %}
        <th scope="row"><input readonly="readonly" name="input-{{forloop.counter}}-{{md.id}}" value="{{md.physical_coach_number|convertint}}"></th>
        {% endif %}
        <th scope="row">{{md.train_station|convertint}}</th>
        <th scope="row">{{md.problem_type}}</th>
        <th scope="row">{{md.registration_date}}</th>
        {% if md.staff_name == " " or md.staff_name == "" or md.staff_name == "None" %}
        <th scope="row">Not Assigned</th>
        {% else %}
        <th scope="row">{{md.staff_name}}</th>
        {% endif %}
        <th scope="row">{{md.sub_type}}</th>
        <th scope="row">{{md.rating}}</th>
      </tr>
      {% endfor %} -->
                        {% for complain in complains %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <th scope="row">{{ complain.3|convertint }}</th>
                                {% if complain.12 == 0.0 %}
                                    <th scope="row">
                                        <input name="input-{{ forloop.counter }}-{{ complain.0 }}"
                                               type="number"
                                               value="" />
                                    </th>
                                {% else %}
                                    <th scope="row">
                                        <input readonly="readonly"
                                               name="input-{{ forloop.counter }}-{{ complain.0 }}"
                                               value="{{ complain.12|convertint }}" />
                                    </th>
                                {% endif %}
                                <th scope="row">{{ complain.8|convertint }}</th>
                                <th scope="row">{{ complain.15 }}</th>
                                <th scope="row">{{ complain.4 }}</th>
                                {% if complain.14 == " " or complain.14 == "" or complain.14 == "None" %}
                                    <th scope="row">Not Assigned</th>
                                {% else %}
                                    <th scope="row">{{ complain.14 }}</th>
                                {% endif %}
                                <th scope="row">{{ complain.16 }}</th>
                                {% if complain.22 == 'nan' %}
                                    <th scope="row">Not Rated</th>
                                {% else %}
                                    <th scope="row">{{ complain.22 }}</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <input type="hidden"
                           readonly="readonly"
                           name="n_d"
                           value="{{ number_of_data }}" />
                    <button class="btn btn-success mx-3" type="submit">Update Coach Number</button>
                </form>
            {% else %}
            {% endif %}
        </table>
    </div>
    {% if order == 'asc' %}
        <style>
  a.sort-by:before {
    border-bottom-color: rgb(0, 0, 0);
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
  }
        </style>
    {% elif order == 'desc' %}
        <style>
  a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: rgb(0, 0, 0);
    margin-top: 1px;
  }
        </style>
    {% else %}
        <style>
  a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
  }
        </style>
    {% endif %}
{% endblock %}
