{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block url_name %}Add train Category{% endblock %}
{% block url_title %}Data{% endblock %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/railmadad/add_train_cat/">
            <i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">See The Data</li>
    <li class="breadcrumb-item">
        <a href="/railmadad/add_train_cat">Add train category</a>
    </li>
{% endblock %}
{% block title %}Add Train Ownership{% endblock %}
{% block body %}
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
setTimeout(function () {
    $('#alert').alert('close');
}, 4000);
        </script>
    {% endfor %}
    <style>
  @media (max-width: 991px) {
    .responsive>thead th {
      display: none;
    }

    .responsive>tbody td,
    .responsive>tbody th {
      display: block;
    }

    .responsive>tbody>tr:nth-child(even) td,
    .responsive>tbody>tr:nth-child(even) th {
      background-color: #eee;
    }

    [row-header] {
      position: relative;
      width: 50%;
      vertical-align: middle;
    }

    [row-header]:before {
      content: attr(row-header);
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      width: 50%;
      padding-right: 30px;
    }
  }
    </style>
    <form action="/railmadad/add_train_cat/" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Train Type</th>
                        <th>Train Number</th>
                    </tr>
                </thead
                <tbody>
                    {% for md in train_cat %}
                        <tr>
                            {% if md.train_number|floatconvert in main_train %}
                                <th scope="row">
                                    <select name="type-{{ md.train_number|floatconvert }}"
                                            id="type"
                                            style="width:130px;
                                                   height:30px">
                                        <option value="DEL-{{ md.train_number|floatconvert }}">Remove</option>
                                        {% for category in categories %}
                                            {% if  category != 'all' %}
                                                {% if md.Type == category|upper %}
                                                    <option value="{{ category|upper }}-{{ md.train_number|floatconvert }}"
                                                            selected>{{ category|upper }}</option>
                                                {% else %}
                                                    <option value="{{ category|upper }}-{{ md.train_number|floatconvert }}">{{ category|upper }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <!-- {% if md.Type == "RNCC" %}
              <option value="RGD-{{md.train_number|floatconvert}}">RGD</option>
              <option value="DNR-{{md.train_number|floatconvert}}">DNR</option>
              {% elif md.Type == "RGD" %}
              <option value="RNCC-{{md.train_number|floatconvert}}">RNCC</option>
              <option value="RGD-{{md.train_number|floatconvert}}" selected>RGD</option>
              <option value="DNR-{{md.train_number|floatconvert}}">DNR</option>
              {% elif md.Type == "DNR" %}
              <option value="RNCC-{{md.train_number|floatconvert}}">RNCC</option>
              <option value="RGD-{{md.train_number|floatconvert}}">RGD</option>
              <option value="DNR-{{md.train_number|floatconvert}}" selected>DNR</option> -->
                                        <!-- {% endif %} -->
                                    </select>
                                </th>
                                <th scope="row">{{ md.train_number }}</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% for main_t in main_train %}
                        {% if main_t in train_asso %}
                        {% else %}
                            <th scope="row">
                                <select name="type-2-{{ main_t }}" id="type" style="width:130px;height:30px">
                                    <option value=" " selected>Not-Assigned</option>
                                    {% for category in categories %}
                                        {% if category != 'all' %}
                                            <option value="{{ category|upper }}-{{ main_t|floatconvert }}">{{ category|upper }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- <option value="RGD-{{main_t|floatconvert}}">RGD</option>
          <option value="DNR-{{main_t|floatconvert}}">DNR</option> -->
                                </select>
                            </th>
                            <th scope="row">{{ main_t|convertint }}</th>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            <button class="btn btn-success mx-3" type="submit">Update Train Category</button>
        </form>
    </table>
</div>
{% endblock %}
