{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js '></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
  #more {
    display: none;
  }
    </style>
    <form action="/railmadad/bottom_train_data_pie_chart/" method="POST">
        {% csrf_token %}
        <center>
            <div class="form-check">
                {% include 'railmadad/components/train_category_comp.html' %}
                {% include 'railmadad/components/complain_type_comp.html' %}
                <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
                </script>
                <center class="center">
                    {% include 'railmadad/components/date_range_comp.html' %}
                </center>
            </form>
            <br>
            <div class="col-xl-12 col-md-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4>Railway Data</h4>
                        <span class="text-muted">This is Graph Show for Railway</span>
                    </div>
                    <div class="card-block m-2">
                        <div id="sales-analytics" style="height:100%;">
                            {% if post %}
                                <div class="chart-container">
                                    <center>
                                        <h4>
                                            <u>Data Show Graph For Bottom {{ train_count }} Train Number Complaint Wise</u>
                                        </h4>
                                    </center>
                                    <div class="my-4 container-fluid d-flex justify-content-center">
                                        <button class="btn btn-success btn-sm" onClick="download()">Download Data-Graph</button>
                                    </div>
                                    <canvas id="myChart" height="57px" width="100%"></canvas>
                                    <br>
                                {% else %}
                                    <center>
                                        <h1>Please Select Filters To See Chart</h1>
                                    </center>
                                    <center>
                                        <h4>
                                            Note:- If you Select Too Much Train Then it will very difficult to see the Data
                                        </h1>
                                    </center>
                                {% endif %}
                                <script>
            var canvasP = document.getElementById("myChart");
            var ctxP = canvasP.getContext('2d');
            var myPieChart = new Chart(ctxP, {
              type: 'pie',
              data: {
                labels: [{% for m in bottom_train %}'{{m}}',{% endfor %}],
            datasets: [
              {
                data: {{ bottom_data_count }},
              backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C"],
              hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C"]
       }]
   },
            options: {
              legend: {
                display: true,
                  position: "top"
              },

            }
});

            canvasP.onclick = function (e) {
              var slice = myPieChart.getElementAtEvent(e);
              if (!slice.length) return; // return if not clicked on slice
              var label = slice[0]._model.label;
              switch (label) {
      // add case for each label/slice
      {% for p_t in bottom_train %}
      {% if start_date == "None" or start_date == None %}
      case '{{p_t}}':
         window.open('/railmadad/complain/{{p_t}}/2000-01-01/5000-01-01?complain_type=Corruption Bribery--Catering and Vending Services--Divyangjan Facilities--Facilities for Women with Special needs--Coach - Cleanliness--Bed Roll--Security--Punctuality--Water Availability--Electrical Equipment--Medical Assistance--Coach - Maintenance--Miscellaneous--Staff Behaviour&train_number={{p_t}}&physical_coach_number=');
         break;
      {% else %}
      case '{{p_t}}':
              window.open('/railmadad/complain/{{p_t}}/{{start_date}}/{{end_date}}?complain_type={{complain_type | join:"--"}}&train_number={{p_t}}&physical_coach_number=');
              break;
      {% endif %}
              {% endfor %}
            }
}

function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myChart');
  imageLink.download = 'Bottom_Train_Complain_Pie.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' " />')

  // console.log(imageLink.href);
  imageLink.click();
}

$(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })


    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    
});


                                </script>
                                </script>
                                {% include 'railmadad/components/checkbox_js.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
