{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block url_name %}Your Dashboard{% endblock %}
{% block url_title %}Welcome To Dashboard{% endblock %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/railmadad/trend_rating/">
            <i class="fa fa-home"></i></a>
    </li>
    {% comment %} <li class="breadcrumb-item">
  See The Data
</li>

<li class="breadcrumb-item">
{% comment %} <a href="/railmadad/dashboard">Dashboard</a> {% endcomment %}
{% comment %} </li> {% endcomment %}
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<style>
  .card-blockk {
    padding: 5px;
  }
  .vscomp-wrapper{
    width: 100% !important;
  }
  .vscomp-toggle-button{
    width: 100%;
  }
</style>
<br />
<!--  sale analytics start -->
<div class="col-md-12">
<div class="card">
<!-- <div class="card-header">
      <h4>Railway Data</h4>
      <span class="text-muted">This is Graph Show for Railway </span>
</div> -->
<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js '></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
          $(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })


    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    
});


</script>
<style>
          #more {
            display: none;
          }
</style>
<div class="chart-container">
<br />
<center>
<h4>
<u>Data Show Graph For Railway Complaint Type</u>
</h4>
</center>
<form action="/railmadad/complain_type_absolute_percentage/" method="POST">
{% csrf_token %}
<center>
{% include 'railmadad/components/train_category_comp_withoutMerge.html' %}
<br />
<!-- {% include 'railmadad/components/complain_type_comp.html' %} -->
<script>
              function myFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");

                if (dots.style.display === "none") {
                  dots.style.display = "inline";
                  btnText.innerHTML = "Show more";
                  moreText.style.display = "none";
                } else {
                  dots.style.display = "none";
                  btnText.innerHTML = "Show less";
                  moreText.style.display = "inline";
                }
              }
</script>
{% include 'railmadad/components/date_range_comp.html' %}
</form>
{% if show %}
<div class="container-fluid col-md-8 d-flex justify-content-center align-items-center">
<canvas id="pieChart" height="55px" width="100%"></canvas>
</div>
{% else %}
<br>
<center>
<h2>Please add filters to see graph</h2>
</center>
{% endif %}
</div>
<br>
<br>
<script>
          var canvasP = document.getElementById("pieChart");
          var ctxP = canvasP.getContext('2d');
          var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
              labels: [{% for d in data %}'{{d}}',{% endfor %}],
          datasets: [

            {
              data: [{% for occur in occur %}{{ occur }}, {% endfor %}],
              backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C", '#00E8FF', '#4200FF', '#BD00FF', '#FF8ED3'],
              hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C", '#00E8FF', '#4200FF', '#BD00FF', '#FF8ED3'],
      }]
   },
          options: {
            maintainAspectRatio: false,
            responsive: true,
  }
});


          canvasP.onclick = function (e) {
            var slice = myPieChart.getElementAtEvent(e);
            if (!slice.length) return; // return if not clicked on slice
            var label = slice[0]._model.label;
            switch (label) {
      // add case for each label/slice
      {% for data in data %}
      case '{{data}}':
            window.open('/railmadad/complain/{{data}}/{{start_date}}/{{end_date}}?complain_type={{complain_type | join:"--"}}&train_number={{checked | join:"-"}}&physical_coach_number=');
            break;
            {% endfor %}
          }
};


          function download() {
            const imageLink = document.createElement('a');
            const canvas = document.getElementById('pieChart');

            const tempCanvas = document.createElement('canvas');
            const tempContext = tempCanvas.getContext('2d');

            tempCanvas.width = canvas.width;
            tempCanvas.height = canvas.height;
            
            tempContext.fillStyle = '#ffffff';
            tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

            tempContext.drawImage(canvas, 0, 0);

            imageLink.download = 'Data.png'
            imageLink.href = tempCanvas.toDataURL('static/data/canvas', 1);
            imageLink.click();
          }
</script>
</div>
</div>
</div>
</div>
{% endblock %}
