{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <style>
#more {display: none;}

.chartBox{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
  }
  .colsmall{
    width: 55px;
    margin-bottom: 72px;  
    /* margin-top: 59px; */
    background-color: white; 
    border-right: 2px solid black;
    z-index: 1;
  }
  .colLarge{
    position: relative;
    right: 49px; 
    width: 100%;
    overflow-x: auto;
  }
  .box{
    width: 95%;
  } 
  
  @media screen and (max-width: 700px){
    .box{
      width: 700px;
    }

    .form-check{
    padding: 0px;
  }
  }
    </style>
    <form action="/railmadad/disposal_time_date_wise/" method="POST">
        {% csrf_token %}
        {% include 'railmadad/components/train_category_comp_withoutMerge.html' %}
        <br />
        <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "show less"; 
    moreText.style.display = "inline";
  }
}
        </script>
        <center class="center">
            {% include 'railmadad/components/checkbox_js.html' %}
            <!-- {% include 'railmadad/components/complain_type_comp.html' %} -->
            {% include 'railmadad/components/date_range_comp.html' %}
        </center>
    </form>
    <br />
    <div class="col-xl-10 col-md-12">
        <div class="card">
            <!-- <div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div> -->
            <div class="card-blockk">
                <div id="sales-analytics" style="height:100%;">
                    <div class="chart-container">
                        <center>
                            <h4>
                                <u>Data Show Graph For <b>Average Disposal Time Date Wise</b></u>
                            </h4>
                        </center>
                        {% if post %}
                            <div class="chartBox">
                                <div class="colsmall">
                                    <canvas id="myChart2" height="50px" width="100%"></canvas>
                                </div>
                                <div class="colLarge">
                                    <div class="box">
                                        <canvas id="myChart" height="50px" width="100%"></canvas>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <br>
                            <center>
                                <h2>Please add filters to see charts</h2>
                            </center>
                        {% endif %}
                    </div>
                    <script>

var dateArray = []
var smallDate = []
var smallDateStr = ''
{% for date in dates %}
dateArray = "{{date}}".split(" ");
if(dateArray.length > 2){
  if (dateArray[0].length == 1){
    smallDateStr = dateArray[0]+ " " + dateArray[1].slice(0, 3) + " " + dateArray[2] + " "
  }
  else{
    smallDateStr = dateArray[0]+ " " + dateArray[1].slice(0, 3) + " " + dateArray[2]
  }
}
else{
  const characters = "{{date}}".split(/[\W\d]+/).join("");
  const numbers = "{{date}}".split(/[^\d]+/).join("");
  smallDateStr = " " + characters.slice(0,3) + " " + numbers + "    "
}

smallDate.push(smallDateStr)
{% endfor %}

var chart2_yaxes = []
var chart_end =0
var chart_max =0
var chart2_yaxes_asnum = []
var zeroLineIndex = 0
var canvasP = document.getElementById("myChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'bar',
   data: {
      labels: smallDate,
      datasets: [{
         label: 'Avg Disposal Time Date Wise',
         data: [{% for m in main_data %} {{m|floatconvert}}, {% endfor %}],
         backgroundColor: "lightgreen",
         hoverBackgroundColor: "lightgreen",
      }]
   },
   options: {
      maintainAspectRatio: false,
      responsive: true,
      // legend: {
      //    display: true,
      //    position: "right"
      // }
      scales: {
        yAxes: [{
                ticks: {
                  display: false,
                  beginAtZero: true,
                },
                gridLines:{
                  drawTicks: false,
                },

                afterFit: (ctx) => {
                  if(myPieChart2){
                    chart2_yaxes = ctx.ticks
                    chart_end = ctx.end
                    chart_max = ctx.max
                    chart2_yaxes_asnum = ctx.ticksAsNumbers
                    zeroLineIndex = ctx.zeroLineIndex
                    myPieChart2.update()
                  }
                }
            }],
            xAxes: [{
                ticks: {
                  minRotation: 45,
                  maxRotation: 45,
                },
            }],
      }
   }
});

// console.log([{% for d in dates %} '{{d}}', {% endfor %}])
/////////// chart 2 for y axis//////////
var canvasP2 = document.getElementById("myChart2");
var ctxP2 = canvasP2.getContext('2d');
var myPieChart2 = new Chart(ctxP2, {
   type: 'bar',
   data: {
      labels: [{% for d in dates %} '{{d}}', {% endfor %}],
      datasets: [{
         label: 'Avg Disposal Time Date Wise',
         data: [{% for m in main_data %} {{m|floatconvert}}, {% endfor %}],
         backgroundColor: "lightgreen",
         hoverBackgroundColor: "lightgreen",
      }]
   },
   options: {
      maintainAspectRatio: false,
      responsive: true,
      scales: {
            xAxes: [{
                ticks: {
                  display: false,
                },
                gridLines:{
                  drawTicks: false,
                }
            }],
            yAxes: [{
              ticks: {
                  beginAtZero: true
                },
                afterFit: (ctx) => {
                  ctx.width = 55;
                  if(chart2_yaxes.length>1){
                    ctx.ticks = chart2_yaxes
                    ctx.end = chart_end
                    ctx.zeroLineIndex = zeroLineIndex
                    ctx.ticksAsNumbers= chart2_yaxes_asnum
                    ctx.max = chart_max
                    // console.log(ctx)
                  }
                }
            }],
        },
      legend: {
         display: false,
         position: "right"
      },
      layout: {
        padding: {
          top: 32,
        }
      },
   }
});

function download() {
    const imageLink = document.createElement('a');
    const canvas = document.getElementById('myChart');

    const tempCanvas = document.createElement('canvas');
    const tempContext = tempCanvas.getContext('2d');

    tempCanvas.width = canvas.width;
    tempCanvas.height = canvas.height;
    
    tempContext.fillStyle = '#ffffff';
    tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

    tempContext.drawImage(canvas, 0, 0);
    
    imageLink.download = 'Data.png'
    imageLink.href = tempCanvas.toDataURL('static/data/canvas',1);
    imageLink.click();
  }

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; 
   var label = slice[0]._model.label;
   const months = {
    Jan: 'January',
    Feb: 'February',
    Mar: 'March',
    Apr: 'April',
    May: 'May',
    Jun: 'June',
    Jul: 'July',
    Aug: 'August',
    Sep: 'September',
    Oct: 'October',
    Nov: 'November',
    Dec: 'December',
   }
   label = label.trim();
   console.log(label.split(" "))
   if(label.split(" ").length === 3){
    var month = months[label.split(" ")[1]]
    label = label.split(" ")[0] + " " + month + " " + label.split(" ")[2]
   }
   if(label.split(" ").length===2){
    var month = months[label.split(" ")[0]]
    label = month + " " + label.split(" ")[1]
    console.log("entered")
   }
   switch (label) {
      {% for d in dates %}
      case '{{d}}':
         window.open('/railmadad/complain/DISPOSAL_DATE_WISE/{{d}}/{{start_date}}?complain_type={{complain_type | join:"--"}}&train_number={{checked | join:"-"}}')
         break;
      {% endfor %}
   }
}


$(document).ready(function () {
              $('#select-all-2').click(function () {
                var checked = this.checked;
                $('input[complain="true"]').each(function () {
                  this.checked = checked;
                });
              })


              $('#select-critical').click(function () {
                var checked = this.checked;
                $('input[critical="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#rncc').click(function () {
                var checked = this.checked;
                $('input[rncc="true"]').each(function () {
                  this.checked = checked;
                });
              })
              $('#all').click(function () {
                var checked = this.checked;
                $('input[this="true"]').each(function () {
                  this.checked = checked;
                });
              })
              $('#rgd').click(function () {
                var checked = this.checked;
                $('input[rgd="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#dnr').click(function () {
                var checked = this.checked;
                $('input[dnr="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#pnbe').click(function () {
                var checked = this.checked;
                $('input[pnbe="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ppta').click(function () {
                var checked = this.checked;
                $('input[ppta="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ipr').click(function () {
                var checked = this.checked;
                $('input[ipr="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#keu').click(function () {
                var checked = this.checked;
                $('input[keu="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#mka').click(function () {
                var checked = this.checked;
                $('input[mka="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ara').click(function () {
                var checked = this.checked;
                $('input[ara="true"]').each(function () {
                  this.checked = checked;
                });
              })

            });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
