{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block body %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js"></script>
<style>
  .chartBox{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
    height: calc(100vh - 280px);
  }
  .colsmall{
    width: 55px;
    margin-bottom: 18px;  
    /* margin-top: 59px; */
    background-color: white; 
    border-right: 2px solid black;
    z-index: 1;
  }
  .colLarge{
    position: relative;
    right: 42px; 
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
  }
  .box{
    width: 1100px;
    /* left: 0px; */
    
  } 
   
  @media screen and (max-width: 1300px){
    .box{
      width: 1100px;
    }

    .form-check{
    padding: 0px;
  }
  }
</style>
<form action="/railmadad/max_complain_coach/" method="POST">
    {% csrf_token %}
    <center>
        <div class="form-check">
            {% include 'railmadad/components/train_category_comp_withoutMerge.html' %}
            <script>
            function myFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");

                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Show more";
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Show less";
                    moreText.style.display = "inline";
                }
            }
            </script>
            <center>
                <div class="form-check">
                    <!-- {% include 'railmadad/components/complain_type_comp.html' %} -->
                </div>
            </center>
            <center class="center">
                {% include 'railmadad/components/date_range_comp.html' %}
            </center>
        </form>
        <br />
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <!-- <div class="card-header">
      <h4>Railway Data</h4>
      <span class="text-muted">This is Graph Show for Railway </span>
</div> -->
                <div class="card-blockk">
                    <div id="sales-analytics" style="height:100%;">
                        <div class="chart-container">
                            {% if post %}
                                <center>
                                    <h4>
                                        <u>Data Show Graph For Maximum Complain from Each Complain Type</b></u>
                                    </h4>
                                </center>
                                <div class="chartBox">
                                    <div class="colsmall">
                                        <canvas id="myChart2" height="40px" width="100%"></canvas>
                                    </div>
                                    <div class="colLarge">
                                        <div class="box">
                                            <canvas id="myChart" height="40px" width="100%"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-3 container-fluid d-flex justify-content-center">
                                    <button class="btn btn-success btn-sm" onClick="download()">Download Data-Graph</button>
                                </div>
                                <!-- <canvas id="myChart" height="45px" width="100%"></canvas> -->
                            {% else %}
                                <br />
                                <center>
                                    <h4>
                                        <u><b>Please add filters to see graph</b></u>
                                    </h4>
                                </center>
                                <br />
                            {% endif %}
                            <script>
            function download() {
              const imageLink = document.createElement('a');
              const canvas = document.getElementById('myChart');

              const tempCanvas = document.createElement('canvas');
              const tempContext = tempCanvas.getContext('2d');

              tempCanvas.width = canvas.width;
              tempCanvas.height = canvas.height;
              
              tempContext.fillStyle = '#ffffff';
              tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

              tempContext.drawImage(canvas, 0, 0);
              
              imageLink.download = 'Data.png'
              imageLink.href = tempCanvas.toDataURL('static/data/canvas',1);
              imageLink.click();
            }
                            </script>
                            <script>
            var chart2_yaxes = []
            var chart_end =0
            var chart_max =0
            var chart2_yaxes_asnum = []
            var zeroLineIndex = 0
            var chartMarginTop = 0
            var chartMarginBottom = 0


            var canvasP = document.getElementById("myChart");
            var ctxP = canvasP.getContext('2d');
            var labelData = [{% for t in total %}'{{t.1}}-({{t.2}})', {% endfor %}];
            var totalData = [{% for t in total %} {{t.0 }}, {% endfor %}];
            var chartData = new Array();
            var chartLabel = new Array();
            var dataMap = new Object();

            for (let i = 0; i < totalData.length; i++) {
              dataMap[labelData[i]] = totalData[i];
            }

            console.log('DataMap: ', dataMap);

            var Ent = Object.entries(dataMap).sort((a, b) => {
              return a[1] < b[1]
            })

            for (let i = 0; i < Ent.length; i++) {
              chartLabel[i] = Ent[i][0];
              chartData[i] = Ent[i][1];
            }

            console.log('Ent: ', Ent);
            var myPieChart = new Chart(ctxP, {
              type: 'bar',
              data: {
                labels: chartLabel,
                datasets: [
                  {
                    label: 'Maximum Number',
                    data: chartData,
                    borderColor:["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C"],
                    backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C"],
                    hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA", "#8C006C", "#828C00", "#00838C"]
                  }]
              },
              options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                  legend: {
                    onClick: (evt, legendItem, legend) => {
                      const index = legend.chart.data.labels.indexOf(legendItem.text);
                      legend.chart.toggleDataVisibility(index);
                      legend.chart.update();
                    },
                    labels:{
                      generateLabels: (chart) => {
                        let visibility = [];
                        for(let i=0; i<chart.data.labels.length; i++){
                          if(chart.getDataVisibility(i) == true){
                            visibility.push(false)
                          }
                          else{
                            visibility.push(true)
                          }
                        };
                        return chart.data.labels.map(
                          (label , index) => ({
                            text: label, 
                            strokeStyle: chart.data.datasets[0].borderColor[index],
                            fillStyle: chart.data.datasets[0].backgroundColor[index],
                            hidden: visibility[index]
                          })
                        )
                      }
                    }
                  }
                },
                // scales: {
                //   xAxes: [{
                //     ticks: {
                //       beginAtZero: true,
                //       autoSkip: false,
                //     }
                //   }],

                // }
                scales: {
                x: {
                  ticks: {
                    // display: false,
                    // autoSkip: false
                    minRotation: 0,
                    maxRotation: 0,
                  }
                },
                y: {
                  ticks: {
                    
                  },
                  afterFit: (ctx) => {
                    // console.log(ctx)
                    // chartMarginBottom = ctx.margins['bottom']
                    // console.log(ctx)
                    
                    if(myPieChart2){
                      chart2_yaxes = ctx.ticks
                      myPieChart2.update()
                    }
                  }
                }
              }

              }
            });

            chartMarginTop = myPieChart.chartArea.top
            var canvasP2 = document.getElementById("myChart2");
            var ctxP2 = canvasP2.getContext('2d');
            var myPieChart2 = new Chart(ctxP2, {
              type: 'bar',
              data: {
                labels: chartLabel,
                datasets: [
                  {
                    label: 'Maximum Number',
                    data: chartData,
                  }]
              },
              options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                  legend: {
                    display: false,
                  }
                },
                scales: {
                x: {
                  ticks: {
                    display: false,
                    autoSkip: false
                  }
                },
                y: {
                  ticks: {
                    
                  },
                  afterFit: (ctx) => {
                    ctx.width = 50;
                    if(chart2_yaxes.length>1){
                      ctx.ticks = chart2_yaxes
                    }
                  }
                }
              },
              layout: {
                padding: {
                    top: chartMarginTop
                }
              }
              }
            });

            canvasP.onclick = function (e) {
              var slice = myPieChart.getElementsAtEventForMode(
                            e,
                            'nearest',
                            { intersect: true },
                            true
                          );
              if (!slice.length) return; // return if not clicked on slice
              var label = myPieChart.data.labels[slice[0].index];
              switch (label) {
              // add case for each label/slice
              {% for t in total %}
              case '{{t.1}}-({{t.2}})':
              window.open('/railmadad/complain/{{t.1}}/{{start_date}}/{{end_date}}?complain_type={{t.2}}&train_number={{t.3 | join:"-"}}&physical_coach_number={{t.1}}&physical_coach_number=');
              break;
              {% endfor %}
            }
} 

                            </script>
                            <script>
              $(document).ready(function () {
              $('#select-all-2').click(function () {
                var checked = this.checked;
                $('input[complain="true"]').each(function () {
                  this.checked = checked;
                });
              })


              $('#select-critical').click(function () {
                var checked = this.checked;
                $('input[critical="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#rncc').click(function () {
                var checked = this.checked;
                $('input[rncc="true"]').each(function () {
                  this.checked = checked;
                });
              })
              $('#all').click(function () {
                var checked = this.checked;
                $('input[this="true"]').each(function () {
                  this.checked = checked;
                });
              })
              $('#rgd').click(function () {
                var checked = this.checked;
                $('input[rgd="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#dnr').click(function () {
                var checked = this.checked;
                $('input[dnr="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#pnbe').click(function () {
                var checked = this.checked;
                $('input[pnbe="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ppta').click(function () {
                var checked = this.checked;
                $('input[ppta="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ipr').click(function () {
                var checked = this.checked;
                $('input[ipr="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#keu').click(function () {
                var checked = this.checked;
                $('input[keu="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#mka').click(function () {
                var checked = this.checked;
                $('input[mka="true"]').each(function () {
                  this.checked = checked;
                });
              })

              $('#ara').click(function () {
                var checked = this.checked;
                $('input[ara="true"]').each(function () {
                  this.checked = checked;
                });
              })

            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}
