{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
#more {display: none;}
.mix-chart-sub-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-sub-type{
    margin: 0px 10px;
}

@media screen and (max-width: 460px){
    .mix-chart-sub-btns{
        flex-direction: column;
    }
}

.chartBox{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 10px;
    height: calc(100vh - 280px) !important;
  }
  #myStackedChart{
    height: calc(100vh - 280px) !important;
  }
  .colsmall{
    width: 35px;
    margin-bottom: 19px;  
    /* margin-top: 59px; */
    background-color: white; 
    border-right: 2px solid black;
    z-index: 1;
  }
  .colsmall canvas{
    border-radius: 0px;
  }
  .colLarge{
    position: relative;
    right: 35px; 
    width: 100%;
    overflow-x: auto;
  }
  .box{
    width: 100%;
  } 
  .form-check{
    padding: 0px;
  }
  @media screen and (max-width: 1300px){
    .box{
      width: 950px;
    }

    .form-check{
    padding: 0px;
  }
  }
    </style>
    <form action="/railmadad/mix_chart/" method="POST">
        {% csrf_token %}
        <center>
            <div class="form-check">
                {% include 'railmadad/components/train_category_comp_withoutMerge.html' %}
                <script>
    $(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })
    
    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    
});


                </script>
                <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
                </script>
                <center>
                    <div class="form-check">
                        <!-- {% include 'railmadad/components/complain_type_comp.html' %} -->
                    </div>
                </center>
                <style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
                </style>
                <center class="center">
                    {% include 'railmadad/components/date_range_comp.html' %}
                </center>
            </form>
            <br>
            <div class="col-xl-12 col-md-12">
                <div class="card">
                    <!-- <div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div> -->
                    <div class="card-block">
                        <div id="sales-analytics" style="height:100%;">
                            <div class="chart-container">
                                {% if post %}
                                    {% if train_count > total_entries %}
                                        <center>
                                            <h4>
                                                <u>There are maximum {{ total_entries }} Data entries. Showing data for {{ total_entries }} entries.</u>
                                            </h4>
                                        </center>
                                    {% else %}
                                        <center>
                                            <h4>
                                                <u>Data Show Graph For Bottom {{ train_count }} Train Number Complaint Wise</u>
                                            </h4>
                                        </center>
                                    {% endif %}
                                {% else %}
                                {% endif %}
                                {% if post %}
                                    <div class="chartBox">
                                        <div class="colsmall">
                                            <canvas id="myStackedChart2"></canvas>
                                        </div>
                                        <div class="colLarge">
                                            <div class="box">
                                                <canvas id="myStackedChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <center>
                                        <h1>Please add filters to see graph</h1>
                                    </center>
                                {% endif %}
                                <style>
* {font-family: sans-serif;}
canvas {
background: #f6fafd; /* Old browsers */
background: -moz-linear-gradient(top, #f6fafd 0%, #cbdff2 73%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f6fafd 0%,#cbdff2 73%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f6fafd 0%,#cbdff2 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fafd', endColorstr='#cbdff2',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
                                </style>
                                <script>
// JavaScript source code
// Return with commas in between
var numberWithCommas = function (x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};

//biomass annual cost

{% for t in total %}

console.log("t: ",{{t}});
var dataPack{{forloop.counter}} = {{t}};
dataPack{{forloop.counter}}.sort((a, b)=> {
    return a < b;
})
{% endfor %}
var dates = [{% for b_t in bottom_train %} "{{b_t|convertint}}", {% endfor %}];

var chart2_yaxes = []
var chart_end =0
var chart_max =0
var chart2_yaxes_asnum = []
var zeroLineIndex = 0
var chartMarginTop = 0
var chartMarginBottom = 0

var bar_ctx = document.getElementById('myStackedChart');
var ctxP = bar_ctx.getContext('2d');
var bar_chart = new Chart(ctxP, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [
        {% for t in total %}
            {
              label: '{{ complain_type|index:forloop.counter }}',
              data: dataPack{{forloop.counter}},
              backgroundColor: "{{color_code|index:forloop.counter}}",
              hoverBackgroundColor: "{{color_code|index:forloop.counter}}",
              hoverBorderWidth: 2,
              hoverBorderColor:'white'
            },
        {% endfor %}
            
        ]
    },
    options: {
        maintainAspectRatio: false,
        responsive: true,
        animation: {
            duration: 10,
        },
        tooltips: {
            mode: 'label',
            callbacks: {
                label: function (tooltipItem, data) {
                    return data.datasets[tooltipItem.datasetIndex].label + ": " + numberWithCommas(tooltipItem.yLabel);
                }
            }
        },
        scales: {
            xAxes: [{
                stacked: true,
                gridLines: { display: false },
                ticks: {
                  minRotation: 0,
                  maxRotation: 0,
                },
                
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    callback: function (value) { return numberWithCommas(value); },
                    beginAtZero: true,
                    userCallback: function(label, index, labels) {
                        // when the floored value is the same as the value we have a whole number
                        if (Math.floor(label) === label) {
                            return label;
                        }

                    },
                },
                afterFit: (ctx) => {
                  chartMarginTop = ctx.margins['top']
                  chartMarginBottom = ctx.margins['bottom']
                  console.log(ctx)
                  if(bar_chart2){
                    chart2_yaxes = ctx.ticks
                    chart_end = ctx.end
                    chart_max = ctx.max
                    chart2_yaxes_asnum = ctx.ticksAsNumbers
                    zeroLineIndex = ctx.zeroLineIndex
                    bar_chart2.update()
                  }
                }
            }],
        }, // scales
        legend: { display: true }
    } // options
}
);

var bar_ctx2 = document.getElementById('myStackedChart2');
var ctxP2 = bar_ctx2.getContext('2d');
var bar_chart2 = new Chart(ctxP2, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [
        {% for t in total %}
            {
              label: '{{ complain_type|index:forloop.counter }}',
              data: dataPack{{forloop.counter}},

            },
        {% endfor %}
            
        ]
    },
    options: {
        maintainAspectRatio: false,
        responsive: true,
        animation: {
            duration: 10,
        },
        scales: {
            xAxes: [{
                ticks: {
                  display: false,
                },
                gridLines: { display: false },
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    callback: function (value) { return numberWithCommas(value); },
                    beginAtZero: true,
                    userCallback: function(label, index, labels) {
                        // when the floored value is the same as the value we have a whole number
                        if (Math.floor(label) === label) {
                            return label;
                        }

                    },
                },
                afterFit: (ctx) => {
                  ctx.width = 35;
                  if(chart2_yaxes.length>1){
                    ctx.ticks = chart2_yaxes
                    ctx.end = chart_end
                    ctx.zeroLineIndex = zeroLineIndex
                    ctx.ticksAsNumbers= chart2_yaxes_asnum
                    ctx.max = chart_max
                  }
                }
            }],
        }, // scales
        legend: { display:false },
        layout: {
        padding: {
          top: chartMarginTop,
        //   bottom: chartMarginBottom - 100,
        }
      },
    } // options
}
);

bar_ctx.onclick = function(e) {
   var slice = bar_chart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
    {% for b_t in bottom_train %}

    {% if start_date == "None" or start_date == "None" %}
    case '{{b_t|convertint}}':
         window.open(`/railmadad/complain/{{b_t}}/2000-01-01/5000-01-01?complain_type='Corruption Bribery--Catering and Vending Services--Divyangjan Facilities--Facilities for Women with Special needs--Coach - Cleanliness--Bed Roll--Security--Punctuality--Water Availability--Electrical Equipment--Medical Assistance--Coach - Maintenance--Miscellaneous--Staff Behaviour&train_number={{b_t}}&physical_coach_number=`);
         break;
    {% else %}
      case '{{b_t|convertint}}':
         window.open(`/railmadad/complain/{{b_t}}/{{start_date}}/{{end_date}}?complain_type={{complain_type | join:"--"}}&train_number={{b_t}}&physical_coach_number=`);
         break;
    {% endif %}
    {% endfor %}
   }
}


function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myStackedChart');

  const tempCanvas = document.createElement('canvas');
    const tempContext = tempCanvas.getContext('2d');

    tempCanvas.width = canvas.width;
    tempCanvas.height = canvas.height;

    tempContext.fillStyle = '#ffffff';
    tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

    tempContext.drawImage(canvas, 0, 0);

    imageLink.download = 'Data.png';
  imageLink.download = 'Data.png'
  imageLink.href = tempCanvas.toDataURL('media/data/canvas',1);
  imageLink.click();
}

$(document).ready(function() {
    $('#    select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })


    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    
});
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <h4>Choose Sub Type to The Graph</h4>
                </center>
                <center class="mix-chart-sub-btns">
                    <div style="margin-top: 10px;">
                        <button class="btn btn-dark btn-sub-type">
                            <a target="blank"
                               href='/railmadad/all_sub_complain_train/Air Conditioner'
                               style="text-decoration: none;
                                      color: white">Air Conditioner</a>
                        </button>
                        <button class="btn btn-dark btn-sub-type">
                            <a target="blank"
                               href='/railmadad/all_sub_complain_train/Lights'
                               style="text-decoration: none;
                                      color: white">Lights</a>
                        </button>
                    </div>
                    <div style="margin-top: 10px;">
                        <button class="btn btn-dark btn-sub-type">
                            <a target="blank"
                               href='/railmadad/all_sub_complain_train/Charging Points'
                               style="text-decoration: none;
                                      color: white">Charging Point</a>
                        </button>
                        <button class="btn btn-dark btn-sub-type">
                            <a target="blank"
                               href='/railmadad/all_sub_complain_train/Fans'
                               style="text-decoration: none;
                                      color: white">Fans</a>
                        </button>
                    </div>
                </center>
                <br>
                <br>
            {% endblock %}
