{% extends 'railmadad/base.html' %}
{% block url_name %}Railway Data{% endblock %}
{% block url_title %}Upload Old CSV File{% endblock %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/railmadad/data_upload/"> <i class="fa fa-file"></i></a>
    </li>
    <li class="breadcrumb-item">CSV</li>
    <li class="breadcrumb-item">
        <a href="/railmadad/data_upload">Upload Railway Csv Data</a>
    </li>
{% endblock %}
{% block title %}Data Upload{% endblock %}
{% block body %}
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
  setTimeout(function () {
    $('#alert').alert('close');
  }, 10000);
        </script>
    {% endfor %}
    <div class="mx-2">
        <form action="/railmadad/data_upload/"
              method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-outline form-white mb-4" style="color: blue">
                <label class="form-label" for="csv">Upload Old CSV File</label>
                <input type="file"
                       name="csv"
                       id="csv"
                       class="form-control form-control-lg"
                       required />
            </div>
            <button id="upload-csv" class="btn btn-danger">Upload</button>
        </form>
    </div>
{% endblock %}
222
