{% extends 'railmadad/base.html' %}
{% load customrailmadad %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
  setTimeout(function () {
    $("#alert").alert("close");
  }, 4000);
        </script>
    {% endfor %}
    <style>
  /* @media screen and (max-width: 600px){
    .graph-responsive{
      display: inline-block;
      width: 100%;
      overflow: scroll;
    }
    .graph-responsive canvas{
      width: 600px !important;
    }
    #line-chart{
      height: 500px !important;
    }
  
  } */
  .chartBox{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0px;
  }
  .colsmall{
    width: 55px;
    margin-bottom: 72px;  
    /* margin-top: 59px; */
    background-color: #eff5f7; 
    border-right: 2px solid black;
    z-index: 1;
  }
  .colLarge{
    position: relative;
    right: 50px; 
    width: 100%;
    overflow-x: auto;
  }
  .box{
    width: 95%;
  } 
  
  @media screen and (max-width: 700px){
    .box{
      width: 700px;
    }

    .form-check{
    padding: 0px;
  }
  }
    </style>
    <form action="/railmadad/trend_rating/" method="POST">
        {% csrf_token %}
        {% include 'railmadad/components/train_category_comp.html' %}
        <center>
            <!-- <div class="form-check">
      {% include 'railmadad/components/complain_type_comp.html' %}
    </div> -->
        </center>
        <!-- <center>
    {% if merge %}
    <input type="checkbox" name="merge" class="check" value="merged" checked />
    {% else %}
    <input type="checkbox" name="merge" class="check" value="merged" />
    {% endif %}
    <label><h5>Merge Satisfactory & Not Rated</h5></label>
  </center> -->
        <br />
        {% include 'railmadad/components/date_range_comp.html' %}
        <br />
        <script>
    $(document).ready(function () {
      $("#select-all-2").click(function () {
        var checked = this.checked;
        $('input[complain="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#select-critical").click(function () {
        var checked = this.checked;
        $('input[critical="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#rncc").click(function () {
        var checked = this.checked;
        $('input[rncc="true"]').each(function () {
          this.checked = checked;
        });
      });
      $("#all").click(function () {
        var checked = this.checked;
        $('input[this="true"]').each(function () {
          this.checked = checked;
        });
      });
      $("#rgd").click(function () {
        var checked = this.checked;
        $('input[rgd="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#dnr").click(function () {
        var checked = this.checked;
        $('input[dnr="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#pnbe").click(function () {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#ppta").click(function () {
        var checked = this.checked;
        $('input[ppta="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#ipr").click(function () {
        var checked = this.checked;
        $('input[ipr="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#keu").click(function () {
        var checked = this.checked;
        $('input[keu="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#mka").click(function () {
        var checked = this.checked;
        $('input[mka="true"]').each(function () {
          this.checked = checked;
        });
      });

      $("#ara").click(function () {
        var checked = this.checked;
        $('input[ara="true"]').each(function () {
          this.checked = checked;
        });
      });
    });
        </script>
        <script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Show more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Show less";
        moreText.style.display = "inline";
      }
    }
        </script>
        <!-- <center>
    <button class="btn btn-success btn-sm" onClick="download()">
      Download Data-Graph
    </button>
  </center> -->
        {% if post %}
            <div class="chartBox">
                <div class="colsmall">
                    <canvas id="line-chart2" width="40px"></canvas>
                </div>
                <div class="colLarge">
                    <div class="box">
                        <canvas id="line-chart" width="40px"></canvas>
                    </div>
                </div>
            </div>
        {% else %}
            <center>
                <div style="background-color: white; padding: 20px; width: 90%;">
                    <center>
                        <h1>
                            <center>
                                <h2>Please add filters to see graph</h2>
                            </center>
                        </div>
                    </center>
                {% endif %}
            </form>
            <script>

  var dateArray = []
  var smallDate = []
  var smallDateStr = ''
  {% for date in dates %}
  dateArray = "{{date}}".split(" ");
  if(dateArray.length > 1){
    if (dateArray[0].length == 1){
      smallDateStr = dateArray[0]+ " " + dateArray[1].slice(0, 3) + " " + dateArray[2] + " "
    }
    else{
      smallDateStr = dateArray[0]+ " " + dateArray[1].slice(0, 3) + " " + dateArray[2]
    }
  }
  else{
    const characters = "{{date}}".split(/[\W\d]+/).join("");
    const numbers = "{{date}}".split(/[^\d]+/).join("");
    smallDateStr = " " + characters.slice(0,3) + " " + numbers + "    "
  }
  
  smallDate.push(smallDateStr)
  {% endfor %}

  var chart2_yaxes = []
  var chart_end =0
  var chart_max =0
  var chart2_yaxes_asnum = []
  var zeroLineIndex = 0
  const canvasLineChart = document.getElementById("line-chart");
  var ctxP = canvasLineChart.getContext('2d');
  var lineChart = new Chart(ctxP, {
    type: 'line',
    data: {
      labels: smallDate,
      datasets: [{
          data: [{% for s in satis %} {{s}}, {% endfor %}],
          label: "Satisfactory",
          borderColor: "blue",
          fill: false
        }, {
          data: [{% for e in excel %} {{e}}, {% endfor %}],
          label: "Excellent",
          borderColor: "green",
          fill: false
        }, {
          data: [{% for u in unsatis %} {{u}}, {% endfor %}],
          label: "Unsatisfactory",
          borderColor: "red",
          fill: false
        },
        {% if not merge %}
        {
          data: [{% for n in nan %} {{n}}, {% endfor %}],
          label: "Not Rated",
          borderColor: "black",
          fill: false
        }
        {% else %}
        {% endif %}
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      // legend: { 
      //   position: 'chartArea' ,
      // },
      // layout: {
      //   padding: {
      //     top: 7
      //   }
      // },
      // legend: {
      //    display: false,
      // },
      title: {
        display: true,
        text: 'Trends Rating Chart'
      },
      scales: {
            yAxes: [{
                ticks: {
                  display: false,
                  beginAtZero: true,
                },
                gridLines:{
                  drawTicks: false,
                },
                afterFit: (ctx) => {
                  if(lineChart2){
                    chart2_yaxes = ctx.ticks
                    chart_end = ctx.end
                    chart_max = ctx.max
                    chart2_yaxes_asnum = ctx.ticksAsNumbers
                    zeroLineIndex = ctx.zeroLineIndex
                    lineChart2.update()
                  }
                }
            }],
            xAxes: [{
                ticks: {
                  minRotation: 45,
                  maxRotation: 45,
                },
            }],
        },
      tooltips: {
        enabled: false,
        custom: function(tooltipModel) {

          // console.log("entered")
          // Tooltip Element
          var tooltipEl = document.getElementById('chartjs-tooltip');

          // Create element on first render
          if (!tooltipEl) {
              tooltipEl = document.createElement('div');
              tooltipEl.id = 'chartjs-tooltip';
              tooltipEl.innerHTML = "<table style='background: white;  border-radius: 5px; box-shadow:  0px 0px 3px 3px rgb(0,0,0,0.5); padding: 5px;'></table>"
              document.body.appendChild(tooltipEl);
          }

          // Hide if no tooltip
          // if (tooltipModel.opacity === 0) {
          //     tooltipEl.style.opacity = 0;
          //     return;
          // }

          // Set caret Position
          tooltipEl.classList.remove('above', 'below', 'no-transform');
          if (tooltipModel.yAlign) {
              tooltipEl.classList.add(tooltipModel.yAlign);
          } else {
              tooltipEl.classList.add('no-transform');
          }

          function getBody(bodyItem) {
              return bodyItem.lines;
          }

          // Set Text
          if (tooltipModel.body) {
              var titleLines = tooltipModel.title || [];
              var bodyLines = tooltipModel.body.map(getBody);

              var innerHtml = '<thead>';

              titleLines.forEach(function(title) {
                  innerHtml += '<tr><th></th><th style="color: black; ">' + title + '</th></tr>';
              });
              innerHtml += '</thead><tbody>';
              
              // console.log(tooltipEl);
              // console.log(this._data.datasets[0].label)
              // console.log(this._data)
              const months = {
                Jan: '01',
                Feb: '02',
                Mar: '03',
                Apr: '04',
                May: '05',
                Jun: '06',
                Jul: '07',
                Aug: '08',
                Sep: '09',
                Oct: '10',
                Nov: '11',
                Dec: '12',
              }
              
              month = tooltipModel.title[0].split(" ")[1]
              if(tooltipModel.title[0].split(" ")[0].length==1){
                clicked_day = "0" + tooltipModel.title[0].split(" ")[0]
              }
              else{
                clicked_day = tooltipModel.title[0].split(" ")[0]
              }
              clicked_date = tooltipModel.title[0].split(" ")[2] + "-" + months[month] + "-" + clicked_day


              this._data.datasets.forEach(function(data){
                if(data.data[tooltipModel.dataPoints[0].index] == tooltipModel.dataPoints[0].yLabel){
                  if(data.label != tooltipModel.body.map(getBody)[0][0].split(":")[0]){
                    innerHtml += `<tr><td style="padding: 2px 5px"><p style="width:12px; height:12px; margin:0px; margin-right:0px; background-color:${data.borderColor}"></p></td><td style="color: black; padding: 0px; cursor:pointer; width: 100px" onclick="myFunction('${data.label}','${clicked_date}')">` + data.label + " : " + data.data[tooltipModel.dataPoints[0].index] + '</td></tr>'; 
                  }1
                }
              })

              bodyLines.forEach(function(body, i) {
                  var colors = tooltipModel.labelColors[i];
                  var style = 'background:' + colors.backgroundColor;
                  style += '; border-color:' + colors.borderColor;
                  style += '; border-width: 2px';
                  var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
                  innerHtml += `<tr><td style="padding: 2px 5px"><p style="width:12px; height:12px; margin:0px; margin-right:0px; background-color:${colors.borderColor}"></p></td><td style="color: black;padding: 0px; cursor:pointer; width: 100px" onclick="myFunction('${tooltipModel.body.map(getBody)[0][0].split(":")[0]}','${clicked_date}')">` + span + body + '</td></tr>';
              });
              innerHtml += '</tbody>';

              var tableRoot = tooltipEl.querySelector('table');
              tableRoot.innerHTML = innerHtml;
          }

          // `this` will be the overall tooltip
          var position = this._chart.canvas.getBoundingClientRect();

          // Display, position, and set styles for font
          tooltipEl.style.opacity = 1;
          tooltipEl.style.left = position.left + tooltipModel.caretX + 'px';
          percent = Math.round(tooltipModel.caretY*0.4);
          tooltipEl.style.top = (position.top) + (tooltipModel.caretY - percent) + 'px';
          tooltipEl.style.fontFamily = tooltipModel._fontFamily;
          tooltipEl.style.fontSize = "12px";
          tooltipEl.style.fontStyle = tooltipModel._fontStyle;
          tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
          tooltipEl.style.position = "absolute";
        }
      }
    }
  });

  // chart2 for y axis ////////////////////////////
  const canvasLineChart2 = document.getElementById("line-chart2");
  var ctxP2 = canvasLineChart2.getContext('2d');
  var lineChart2 = new Chart(ctxP2, {
    type: 'line',
    data: {
      labels: [{% for d in dates %} "{{d}}", {% endfor %}],
      datasets: [{
          data: lineChart.data.datasets[0].data,
        }, {
          data: lineChart.data.datasets[1].data,
        }, {
          data:  lineChart.data.datasets[2].data,
        },
        {% if not merge %}
        {
          data:  lineChart.data.datasets[3].data,
        }
        {% else %}
        {% endif %}
      ]
    },
    options: {  
      layout: {
        padding: {
          // bottom: 82,
          top: 64,
        }
      },
      maintainAspectRatio: false,
      legend: {
         display: false,
      },
      scales: {
            xAxes: [{
                ticks: {
                  display: false,
                },
                gridLines:{
                  drawTicks: false,
                }
            }],
            yAxes: [{
                ticks: {
                  beginAtZero: true,
                },
                afterFit: (ctx) => {
                  if(chart2_yaxes.length>1){
                    ctx.ticks = chart2_yaxes
                    ctx.end = chart_end
                    ctx.zeroLineIndex = zeroLineIndex
                    ctx.ticksAsNumbers= chart2_yaxes_asnum
                    ctx.max = chart_max
                  }
                  ctx.width = 55;
                }
            }],
        },
  }
});
  
  function myFunction(complain_type,clicked_date) {
    if(complain_type == "Not Rated"){
      complain_type = -1
    }
    window.open(`/railmadad/complain/${complain_type}/{{start_date}}/{{end_date}}/${clicked_date}?complain_type={{complain_type | join:"--"}}&train_number={{checked | join:"-"}}&physical_coach_number=`);
  }
  

  canvasLineChart.onclick = function(e) {

    let merge = "{{merge|safe}}";
    console.log(lineChart.getElementAtEvent(e));
     var slice = lineChart.getElementAtEvent(e);
     if (!slice.length) return; // return if not clicked on slice
     var color = slice[0]._model.borderColor;



     if (color == "rgb(0, 0, 230)") {
      if (merge === 'True') var complain_type = 'satisfactory-nan';
      else var complain_type = "Satisfactory";
     }
     else if (color == "rgb(0, 117, 0)") {
      var complain_type = "Excellent";
     }
     else if (color == "rgb(230, 0, 0)") {
      var complain_type = "Unsatisfactory";
     }
     else if (color == "rgb(0, 0, 0)") {
      var complain_type = "-1";
     }
     else {
      var complain_type = "all";
     }



    //  if (complain_type === 'Satisfactory' && merge) label = 'satisfactory-nan';
    //  window.open(`/railmadad/complain/${complain_type}/{{start_date}}/{{end_date}}?complain_type=Corruption Bribery--Catering and Vending Services--Divyangjan Facilities--Facilities for Women with Special needs--Coach - Cleanliness--Bed Roll--Security--Punctuality--Water Availability--Electrical Equipment--Medical Assistance--Coach - Maintenance--Miscellaneous--Staff Behaviour&train_number={{checked | join:"-"}}`);
     window.open(`/railmadad/complain/${complain_type}/{{start_date}}/{{end_date}}/${clicked_date}?complain_type={{complain_type | join:"--"}}&train_number={{checked | join:"-"}}&physical_coach_number=`);
  }

  function download() {
    const imageLink = document.createElement('a');
    const canvas = document.getElementById('line-chart');
    const tempCanvas = document.createElement('canvas');
    const tempContext = tempCanvas.getContext('2d');

    tempCanvas.width = canvas.width;
    tempCanvas.height = canvas.height;
    
    tempContext.fillStyle = '#ffffff';
    tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

    tempContext.drawImage(canvas, 0, 0);
    
    imageLink.download = 'Data.png';
    imageLink.href = tempCanvas.toDataURL('image/png');
    imageLink.click();
  }
            </script>
        {% endblock %}
