{% extends 'cmm/base.html' %}
{% load customcmm %}
{% block url_name %}Data Based on Coach Number{% endblock %}
{% block url_title %}Coach Number id{% endblock %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">See The Data for Coach Number</li>
    <li class="breadcrumb-item">Data Based on Coach Number</li>
{% endblock %}
{% block title %}Data Based on Coach Number{% endblock %}
{% block body %}
    <style>
  a:link,
  a:visited,
  a:hover,
  a:active {
    /* color: rgb(0, 0, 0); */
    text-decoration: none;
  }

  th a,
  td a {
    display: block;
    width: 100%;
  }

  th a.sort-by {
    padding-right: 18px;
    position: relative;
  }

  th a.sort-by:hover {
    color: rgb(0, 84, 87);
  }

  a.sort-by:before,
  a.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
  }



  @media (max-width: 991px) {
    .responsive>thead th {
      display: none;
    }

    .responsive>tbody td,
    .responsive>tbody th {
      display: block;
    }

    .responsive>tbody>tr:nth-child(even) td,
    .responsive>tbody>tr:nth-child(even) th {
      background-color: #eee;
    }

    [row-header] {
      position: relative;
      width: 50%;
      vertical-align: middle;
    }

    [row-header]:before {
      content: attr(row-header);
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      width: 50%;
      padding-right: 30px;
    }
  }
    </style>
    <div class="table-responsive container-fluid">
        {% for message in messages %}
            <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
            <script type="text/javascript">
    setTimeout(function () {
      $('#alert').alert('close');
    }, 4000);
            </script>
        {% endfor %}
        <!-- <h1>Data: {{data}}</h1> -->
        <table id="table"
               class="table table-striped table-bordered table-sm"
               cellspacing="0"
               width="100%">
            <thead>
                <center class="my-2">
                    <h5>
                        <u>Fetched {{ res_count }} data rows from table.</u>
                    </h5>
                    {% comment %} <form class="my-3" action="/cmm/complain/{{complain}}/{{problem_start}}/{{problem_end}}" method="get">
          <select class="p-1" name="search_param" id="search_param" required>
            {% if search_param == '' or search_param == None %}
            <option value="" disabled="disabled" selected>Select parameter to search</option>
            {% else %}
            <option value="" disabled="disabled" selected>Select parameter to search</option>
            {% endif %}

            {% if search_param == 'coach_number' %}
            <option value="coach_number" selected>Coach Number</option>
            {% else %}
            <option value="coach_number">Coach Number</option>
            {% endif %}

            {% if search_param == 'sl_no' %}
            <option value="sl_no" selected>Sl No.</option>
            {% else %}
            <option value="sl_no">Sl No.</option>
            {% endif %}

            {% if search_param == 'owning_rly' %}
            <option value="owning_rly" selected>Owning rly</option>
            {% else %}
            <option value="owning_rly">Owning rly</option>
            {% endif %}

            {% if search_param == 'train_number' %}
            <option value="train_number" selected>Coach Category</option>
            {% else %}
            <option value="train_number">Coach Category</option>
            {% endif %}


            

            {% if search_param == 'coach_type' %}
            <option value="coach_type" selected>Coach Type</option>
            {% else %}
            <option value="coach_type">Coach Type</option>
            {% endif %}

            {% if search_param == 'coach_status' %}
            <option value="coach_status" selected>Coach Status</option>
            {% else %}
            <option value="coach_status">Coach Status</option>
            {% endif %}

            {% if search_param == 'ac_flag' %}
            <option value="ac_flag" selected>Ac Flag</option>
            {% else %}
            <option value="ac_flag">Ac Flag</option>
            {% endif %}

            {% if search_param == 'sick_head' %}
            <option value="sick_head" selected>POH/SS2/SS3/ DOC Date</option>
            {% else %}
            <option value="sick_head">POH/SS2/SS3/ DOC Date</option>
            {% endif %}

            {% if search_param == 'problem_date' %}
            <option value="problem_date" selected>Problem Date</option>
            {% else %}
            <option value="problem_date">Problem Date</option>
            {% endif %}

            {% if search_param == 'department' %}
            <option value="department" selected>Department</option>
            {% else %}
            <option value="department">Department</option>
            {% endif %}

          </select>
                    {% endcomment %}
                    {% comment %} {% if query %}
            <input class="mx-3 py-1 rounded" type="search" name="query" id="query-field" placeholder="Seach Table" value="{{query}}">
          {% else %}
            <input class="mx-3 py-1 rounded" type="search" name="query" id="query-field" placeholder="Seach Table" required>
          {% endif %}
            <input type="hidden" name="sick_heads" value="{{sick_heads | join:'---'}}">
          <input type="hidden" name="train_number" value="{{train_number | join:'-'}}">
          <input type="hidden" name="owning_rly" value="{{owning_rly | join:'-'}}">
          <input type="hidden" name="coach_status" value="{{coach_status}}">
          <input type="hidden" name="departments" value="{{departments}}">
          <input type="hidden" name="vehicle_type" value="{{vehicle_type}}">
          <input type="hidden" name="workshops" value="{{workshops | join:'-'}}">
          <input type="hidden" name="sort_method" value="id">
          <input type="hidden" name="order" value="{{order}}">
          <input type="hidden" name="coach_type" value="{{coach_type | join:'-'}}">
          <input class="btn btn-danger btn-sm" type="submit" value="Search">
        </form>
                    <br> {% endcomment %}
                    <button class="btn btn-danger my-2 download-button" id="download-button">Download Data</button>
                </center>
            </thead>
            <thead>
                <tr>
                    <th class="col" column="1">
                    Sr. No.</a>
                </th>
                <th class="col" column="3">
                    <a>Owning Rly</a>
                </th>
                <th class="col" column="3">
                    <a href='/cmm/coach_pro_query/{{ coach_number_id }}?sort_method=coach_number&order={{ order }}&query={{ query }}'
                       class="sort-by">Coach Number
                    </th>
                    <th class="col" column="3">Coach Type</th>
                    <th class="col" column="3">Coach Category</th>
                    <th class="col" column="3">Ac Flag</th>
                    <th class="col" column="3">Gauge</th>
                    <th class="col" column="3">POH/SS2/SS3/ DOC Date</th>
                    <th class="col" column="3">Return Date</th>
                    <th class="col" column="3">POH/SS2/SS3 Workshop</th>
                    <th class="col" column="3">IOH/SS1 Date</th>
                    <th class="col" column="3">IOH/SS1 Location</th>
                    <th class="col" column="3">Expected IOH/SS1 Due Date</th>
                    <th class="col" column="3">Extended Return Date</th>
                    <th class="col" column="3">Manufacture</th>
                    <th class="col" column="3">Nominated Workshop</th>
                    <th class="col" column="3">Built Year</th>
                    <th class="col" column="3">Base Depot</th>
                    <th class="col" column="3">Maint. Depot</th>
                    <th class="col" column="3">Maint. Division</th>
                    <th class="col" column="3">Maint. Railway</th>
                    <th class="col" column="3">Last Update Time</th>
                    <th class="col" column="3">Updated By</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ d.owning_rly }}</td>
                        <td>
                            {% if d.coach_number == '' or d.coach_number == None %}
                                N/A
                            {% else %}
                                {{ d.coach_number|convertint }}
                            {% endif %}
                        </td>
                        <td>{{ d.coach_type }}</td>
                        <td>{{ d.coach_category }}</td>
                        <td>{{ d.ac_flag }}</td>
                        <td>{{ d.guage }}</td>
                        <td>{{ d.POH_date }}</td>
                        <td>{{ d.return_date }}</td>
                        <td>{{ d.POH_work }}</td>
                        <td>{{ d.IOH_date }}</td>
                        <td>{{ d.IOH_location }}</td>
                        <td>{{ d.expected_IOH_date }}</td>
                        <td>{{ d.extend_return_date }}</td>
                        <td>{{ d.manufacture }}</td>
                        <td>{{ d.nominated_workshop }}</td>
                        <td>{{ d.built_year }}</td>
                        <td>{{ d.base_depot }}</td>
                        <td>{{ d.main_depot }}</td>
                        <td>{{ d.main_division }}</td>
                        <td>{{ d.main_railway }}</td>
                        <td>{{ d.last_updated_time }}</td>
                        <td>{{ d.last_updated_by }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>

  document.getElementById("download-button").addEventListener("click", function () {
    console.log("clicked")
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "data.csv");
    // document.getElementById("download-button").innerText = "Downloading..."
  });
  function htmlToCSV(html, filename) {
    var data = [];
    var rows = document.querySelectorAll("table tr");
    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      for (var j = 0; j < cols.length; j++) {
        console.log(cols[j].innerText);
        row.push(cols[j].innerText);
      }
      // console.log(row);
      data.push(row.join("---").replaceAll(",", " ").split("---").join(", "));
      // console.log("Row after transformation: ");
      // console.log(row);
      // console.log(data)
    }

    downloadCSVFile(data.join("\n"), filename);

  }

  function downloadCSVFile(csv, filename) {
    var csv_file, download_link;
    csv_file = new Blob([csv], { type: "text/csv" });
    download_link = document.createElement("a");
    download_link.download = filename;
    download_link.href = window.URL.createObjectURL(csv_file);
    download_link.style.display = "none";
    document.body.appendChild(download_link);
    download_link.click();
    // document.getElementById("download-button").innerText = "Download"

    

  }


    </script>
    {% if order == 'asc' %}
        <style>
  a.sort-by:before {
    border-bottom-color: rgb(0, 0, 0);
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
  }
        </style>
    {% elif order == 'desc' %}
        <style>
  a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: rgb(0, 0, 0);
    margin-top: 1px;
  }
        </style>
    {% else %}
        <style>
  a.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
  }

  a.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
  }
        </style>
    {% endif %}
{% endblock %}
