{% extends 'cmm/base.html' %}
{% load customcmm %}
{% load static %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">See The Data</li>
    <li class="breadcrumb-item">
        <a href="/cmm/download_data_csv_PRO/">Download CMM PRO Data</a>
    </li>
{% endblock %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
    .data {
        font-size: 15px;
    }

    .data:hover {
        text-decoration: underline;
        color: blue;
    }
    .col {
        pointer-events: none;
    }
    </style>
    {% include 'cmm/coach_pro_components/download_data_filter_PRO.html' %}
{% endblock %}
