{% extends 'cmm/base.html' %}
{% block body %}
    {% for message in messages %}
        <div id="alert" class="alert alert-{{ message.tags }}">{{ message }}</div>
        <script type="text/javascript">
setTimeout(function () {
    $('#alert').alert('close');
}, 4000);
        </script>
    {% endfor %}
    <form method="post" action="/cmm/download_mis_report/">
        {% csrf_token %}
        <div class="form-group container-fluid">
            <div class="form-control">
                <label for="security-key">
                    <h5>Enter Session Key</h5>
                </label>
                <div class="d-flex">
                    <input type="text"
                           name="key"
                           class="form-control"
                           id="security-key"
                           autofocus
                           placeholder="Enter key"
                           autocomplete="false">
                    <button type="submit" class="btn btn-primary mx-1">Submit</button>
                </div>
                <small class="mx-3 text-muted">*Enter your session key here</small>
            </div>
        </div>
    </form>
{% endblock %}
