{% extends 'base_user_login.html' %}
{% block style %}
    .container-pwd-reset-confirm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    }
    h2 {
    text-align: center;
    font-weight: bold;
    }
    form {
    margin-top: 20px;
    }
    label {
    font-weight: bold;
    }
    input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
    button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    button[type="submit"]:hover {
    background-color: #0056b3;
    }
{% endblock style %}
{% block content %}
    <div class="container-pwd-reset-confirm d-block align-content-center justify-content-center ">
        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}
