{% extends 'base_user_login.html' %}
{% block style %}
    .container-pwd-reset-done {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    }
    h2 {
    color: #333;
    }
    hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
    }
    p {
    color: #777;
    line-height: 1.5;
    }
{% endblock style %}
{% block content %}
    <!--Password reset sent-->
    <div class="container-pwd-reset-done p-5">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
        <hr>
        <p>
            We've emailed you instructions for setting your password. Please check your Spam folder as well. You should receive them shortly.
            <br>
            If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.
        </p>
    </div>
{% endblock %}
