{% extends 'cmm/base.html' %}
{% load customcmm %}
{% load static %}
{% block breadcrum %}
    <li class="breadcrumb-item">
        <a href="/">
            <i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">See The Data</li>
    <li class="breadcrumb-item">
        <a href="/cmm/sick_head_table/">Sick Head Table</a>
    </li>
{% endblock %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
    .data {
        font-size: 15px;
    }

    .data:hover {
        text-decoration: underline;
        color: blue;
    }
    .col {
        pointer-events: none;
    }
    </style>
    {% include 'sick_head_components/sick_head_table_filters.html' %}
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card" id="card_download">
            <div class="card-header">
                <h4>CMM DATA</h4>
                {% if method == 'GET' %}
                    <span class="">Please select filters to add render charts.</span>
                {% else %}
                    <span class="">Showing data for Number of times a coach was sick.</span>
                    <center>
                        <button class="btn btn-primary btn-sm" id="download-button">Download Table</button>
                    </center>
                    <center class="my-4">
                        <h4>
                            <u>Showing result for {{ length }} coaches.</u>
                        </h4>
                    </center>
                    <table class="table table-card table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">
                                    <div>
                                        <span>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span>Coach Number</span>
                                                <i class="fa fa-sort"></i>
                                            </div>
                                        </span>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div>
                                        <span>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span>Number of complains</span>
                                                <i class="fa fa-sort"></i>
                                            </div>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in result %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <span class="d-inline-block"
                                              tabindex="0"
                                              data-toggle="tooltip"
                                              title="Show {{ entry | get_2d_1 }} entries for coach {{ entry | get_2d_0 }}">
                                            <a target="_blank"
                                               class="data"
                                               href='/cmm/complain/{{ entry | get_2d_0 }}/{{ problem_start }}/{{ problem_end }}?sick_heads={{ checked_sick_heads | join:"---" }}&coach_type={{ checked_coach_type | join:"-" }}&train_number={{ checked_trains | join:"-" }}&owning_rly={{ checked_owning_rly | join:"-" }}&coach_status={{ checked_coach_status | join:"-" }}&departments={{ checked_department | join:"-" }}&vehicle_type={{ checked_vehicle_type | join:"-" }}&workshops={{ checked_workshops | join:"-" }}'>{{ entry | get_2d_0 }}</a>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="d-inline-block"
                                              tabindex="0"
                                              data-toggle="tooltip"
                                              title="Show {{ entry | get_2d_1 }} entries for coach {{ entry | get_2d_0 }} ">
                                            <a target="_blank"
                                               class="data"
                                               href='/cmm/complain/{{ entry | get_2d_0 }}/{{ problem_start }}/{{ problem_end }}?sick_heads={{ checked_sick_heads | join:"---" }}&coach_type={{ checked_coach_type | join:"-" }}&train_number={{ checked_trains | join:"-" }}&owning_rly={{ checked_owning_rly | join:"-" }}&coach_status={{ checked_coach_status | join:"-" }}&departments={{ checked_department | join:"-" }}&vehicle_type={{ checked_vehicle_type | join:"-" }}&workshops={{ checked_workshops | join:"-" }}'>{{ entry | get_2d_1 }}</a>
                                        </td>
                                    </span>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
    document.getElementById("download-button").addEventListener("click", function () {
    console.log("clicked")
    var html = document.querySelector("table").outerHTML;
    htmlToCSV(html, "sick_head_table_data {{problem_start}} to {{problem_end}}.csv");
    });
  function htmlToCSV(html, filename) {
    var data = [];
    var rows = document.querySelectorAll("table tr");
    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");
      for (var j = 0; j < cols.length; j++) {
        console.log(cols[j].innerText);
        row.push(cols[j].innerText);
      }
      data.push(row.join("---").replaceAll(",", " ").split("---").join(", "));
    }

    downloadCSVFile(data.join("\n"), filename);

  }

  function downloadCSVFile(csv, filename) {
    var csv_file, download_link;
    csv_file = new Blob([csv], { type: "text/csv" });
    download_link = document.createElement("a");
    download_link.download = filename;
    download_link.href = window.URL.createObjectURL(csv_file);
    download_link.style.display = "none";
    document.body.appendChild(download_link);
    download_link.click();
    // document.getElementById("download-button").innerText = "Download"
  }
    </script>
{% endblock %}
