{% extends 'cmm/base.html' %}
{% load customcmm %}
{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>#more {display: none;}</style>
    <form action="/cmm/train_wise_data/" method="POST">
        {% csrf_token %}
        <center class="center">
            <section class="pb-4">
                <div class="bg-white border rounded-5">
                    <center>
                        <div class="form-check">
                            {% include 'components/rating_train_cat_comp.html' %}
                            <script>
  function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Show more"; 
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Show less"; 
      moreText.style.display = "inline";
    }
  }
                            </script>
                            {% include 'components/complain_type_comp.html' %}
                            {% include 'components/date_range_comp.html' %}
                        </center>
                    </form>
                    <br>
                    <div class="col-xl-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Railway Data</h4>
                                <span class="text-muted">This is Graph Show for Railway</span>
                            </div>
                            <div class="card-blockk">
                                <div id="sales-analytics" style="height:100%;">
                                    <div class="chart-container">
                                        {% if data_show %}
                                            <center>
                                                <h4>Data Show Graph For Train Number</h4>
                                                <div class="container-fluid d-flex justify-content-center align-items-center">
                                                    <button class="btn btn-primary show-train btn-sm show_trains mr-2">Show Train Numbers</button>
                                                    <button class="btn btn-sm btn-success" onClick="download()">Download Data-Graph</button>
                                                </div>
                                                <div class="container-fluid px-3 trains_fade" style="display: none ;">
                                                    {% for t_r in train %}<strong>{{ t_r|convertint }},</strong>{% endfor %}
                                                </center>
                                            {% else %}
                                            </div>
                                        {% endif %}
                                        {% if post %}
                                            {% if data_show %}
                                                <canvas id="myChart" height="40px" width="100%"></canvas>
                                            {% else %}
                                                <br>
                                                <center>
                                                    <h2>Currenly No Data for this Train Number</h2>
                                                </center>
                                            {% endif %}
                                        {% else %}
                                            <br>
                                            <center>
                                                <h3>Kindly Enter Train Number and Filter With Date Range To see Data</h3>
                                            </center>
                                        {% endif %}
                                    </div>
                                    <script>
var canvasP = document.getElementById("myChart");
var ctxP = canvasP.getContext('2d');
var labelData = [{% for m in complain_type %}'{{m}}',{% endfor %}];
var totalData = {{data_count}};
var chartLabel = new Array();
var chartData = new Array();

var dataMap = new Object();

for(let i = 0; i < totalData.length; i++)
{
  dataMap[labelData[i]] = totalData[i];
}

console.log('DataMap: ', dataMap);

var Ent = Object.entries(dataMap).sort((a, b) => {
  return a[1] < b[1]
})

console.log('Ent : ', Ent);
var len = Ent.length;
for(let i = 0; i < len; i++)
{
  chartLabel[i] = Ent[i][0];
  chartData[i] = Ent[i][1];
}

console.log('ChartLabels: ', chartLabel);
var myPieChart = new Chart(ctxP, {
   type: 'bar',
   data: {
      labels: chartLabel,
      datasets: [
        {   
            label:"Complaint Number from Each Complain",
            data: chartData,
            backgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1",'#FF8300','#EEFF70','#00FF83','#00E8FF',
                '#4200FF','#BD00FF','#FF8ED3'],
            hoverBackgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1",'#FF8300','#EEFF70','#00FF83','#00E8FF',
                '#4200FF','#BD00FF','#FF8ED3']
       }]
   },
   options: {
    legend: {
         display: true,
         position: "top"
      },
      scales: {
          xAxes: [{
      ticks: {
        autoSkip: false
      }
    }]
      }

}
});

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for p_t in problem_type %}
      case '{{p_t}}':
         window.open('/cmm/complain/{{p_t}}/{{start_date}}/{{end_date}}?complain_type=Corruption Bribery--Catering and Vending Services--Divyangjan Facilities--Facilities for Women with Special needs--Coach - Cleanliness--Bed Roll--Security--Punctuality--Water Availability--Electrical Equipment--Medical Assistance--Coach - Maintenance--Miscellaneous--Staff Behaviour&train_number={{checked | join:"-"}}&coach_number=');
         break;
      {% endfor %}
   }
}



function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myChart');
  imageLink.download = 'Complaint_Number_From_Each_Complain.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' " />')

  // console.log(imageLink.href);
  imageLink.click();
}



                                    </script>
                                    <script>
  $(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })


    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    

    $(".show_trains").click(function () {
      let btnTxt = $(".show-train").text();

      if (btnTxt === "Show Train Numbers") {
        $(".show-train").text("Hide Train Numbers");
        $(".trains_fade").fadeIn();
      } else {
        $(".show-train  ").text("Show Train Numbers");
        $(".trains_fade").fadeOut();
      }
    })
});
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
