{% extends 'cmm/base.html' %}
{% load customcmm %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <form action="/cmm/trend_rating/" method="POST">
        {% csrf_token %}
        {% include 'components/train_category_comp.html' %}
        {% include 'components/complain_type_comp.html' %}
        <br>
        <center>
            {% if merge %}
                <input type="checkbox" name="merge" class="check" value="merged" checked>
            {% else %}
                <input type="checkbox" name="merge" class="check" value="merged">
            {% endif %}
            <label>
                <h5>Merge Satisfactory & Not Rated</h5>
            </label>
        </center>
        <br>
        {% include 'components/date_range_comp.html' %}
        <br>
        <script>
  $(document).ready(function() {
  $('#select-all-2').click(function() {
      var checked = this.checked;
      $('input[complain="true"]').each(function() {
      this.checked = checked;
  });
  })
  
  $('#select-critical').click(function() {
      var checked = this.checked;
      $('input[critical="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#rncc').click(function() {
      var checked = this.checked;
      $('input[rncc="true"]').each(function() {
      this.checked = checked;
  });
  })
  $('#all').click(function() {
      var checked = this.checked;
      $('input[this="true"]').each(function() {
      this.checked = checked;
  });
  })
  $('#rgd').click(function() {
      var checked = this.checked;
      $('input[rgd="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#dnr').click(function() {
      var checked = this.checked;
      $('input[dnr="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#pnbe').click(function() {
      var checked = this.checked;
      $('input[pnbe="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#ppta').click(function() {
      var checked = this.checked;
      $('input[ppta="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#ipr').click(function() {
      var checked = this.checked;
      $('input[ipr="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#keu').click(function() {
      var checked = this.checked;
      $('input[keu="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#mka').click(function() {
      var checked = this.checked;
      $('input[mka="true"]').each(function() {
      this.checked = checked;
  });
  })

  $('#ara').click(function() {
      var checked = this.checked;
      $('input[ara="true"]').each(function() {
      this.checked = checked;
  });
  })
  
});


        </script>
        <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
        </script>
        <center>
            <button class="btn btn-success btn-sm" onClick="download()">Download Data-Graph</button>
        </center>
        <canvas id="line-chart" width="40px"></canvas>
    </form>
    <script>
const canvasLineChart = document.getElementById("line-chart");
var ctxP = canvasLineChart.getContext('2d');
var lineChart = new Chart(ctxP, {
  type: 'line',
  data: {
    labels: [{% for d in dates %} "{{d}}", {% endfor %}],
    datasets: [{ 
        data: [{% for s in satis %} {{s}}, {% endfor %}],
        label: "Satisfactory",
        borderColor: "blue",
        fill: false
      }, { 
        data: [{% for e in excel %} {{e}}, {% endfor %}],
        label: "Excellent",
        borderColor: "green",
        fill: false
      }, { 
        data: [{% for u in unsatis %} {{u}}, {% endfor %}],
        label: "Unsatisfactory",
        borderColor: "red",
        fill: false
      },
      {% if not merge %}
      { 
        data: [{% for n in nan %} {{n}}, {% endfor %}],
        label: "Not Rated",
        borderColor: "black",
        fill: false
      }
      {% else %}
      {% endif %}
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Trends Rating Chart'
    }
  }
});

canvasLineChart.onclick = function(e) {

  let merge = "{{merge|safe}}";
  console.log(lineChart.getElementAtEvent(e));
   var slice = lineChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var color = slice[0]._model.borderColor;


   
   if (color == "rgb(0, 0, 230)") {
    if (merge === 'True') var complain_type = 'satisfactory-nan';
    else var complain_type = "Satisfactory";
   }
   else if (color == "rgb(0, 117, 0)") {
    var complain_type = "Excellent";
   }
   else if (color == "rgb(230, 0, 0)") {
    var complain_type = "Unsatisfactory";
   }
   else if (color == "rgb(0, 0, 0)") {
    var complain_type = "nan";
   }
   else {
    var complain_type = "all";
   }



  //  if (complain_type === 'Satisfactory' && merge) label = 'satisfactory-nan';   
  //  window.open(`/cmm/complain/${complain_type}/{{start_date}}/{{end_date}}?complain_type=Corruption Bribery--Catering and Vending Services--Divyangjan Facilities--Facilities for Women with Special needs--Coach - Cleanliness--Bed Roll--Security--Punctuality--Water Availability--Electrical Equipment--Medical Assistance--Coach - Maintenance--Miscellaneous--Staff Behaviour&train_number={{checked | join:"-"}}`);
   window.open(`/cmm/complain/${complain_type}/{{start_date}}/{{end_date}}?complain_type={{complain_type | join:"--"}}&train_number={{checked | join:"-"}}&coach_number=`);
}

function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('line-chart');
  imageLink.download = 'Data.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' " />')
  // console.log(imageLink.href);
  imageLink.click();
}
    </script>
{% endblock %}
