<script>
    $(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })
    
    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#dnr').click(function() {
        var checked = this.checked;
        $('input[dnr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#pnbe').click(function() {
        var checked = this.checked;
        $('input[pnbe="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ppta').click(function() {
        var checked = this.checked;
        $('input[ppta="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ipr').click(function() {
        var checked = this.checked;
        $('input[ipr="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#keu').click(function() {
        var checked = this.checked;
        $('input[keu="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#mka').click(function() {
        var checked = this.checked;
        $('input[mka="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#ara').click(function() {
        var checked = this.checked;
        $('input[ara="true"]').each(function() {
        this.checked = checked;
    });
    })
    
});


</script>
