{% load customcmm %}
{% block body %}
    {% load static %}
    <style>
    /* Default styles for the select box */
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select {
        width: 100%;
        max-width: 300px; /* Adjust the maximum width as needed */
        padding: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Media queries for responsive behavior */
    @media screen and (max-width: 600px) {
        select {
            max-width: 100%; /* Make the select box take the full width on smaller screens */
            margin-top: 10px; /* Add some margin for better spacing */
            margin-bottom: 10px;
        }
    }
    </style>
    <div class="center-container">
        <select id="coach-number-dropdown"
                name="coach-number-dropdown"
                multiple
                placeholder="Select coach number"
                multiple>
            {% for coach in coach_numbers %}<option value="{{ coach }}">{{ coach }}</option>{% endfor %}
        </select>
    </div>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#coach-number-dropdown',
      search: true,
      optionSelectedText: 'option selected',
      noOfDisplayValues: 1,
      alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      showSelectedOptionsFirst: true,
    });

    document.querySelector('#coach-number-dropdown').setValue([{% for x in checked_coach_numbers %} "{{x}}", {% endfor %}]);
    </script>
{% endblock %}
