{% load customcmm %}
{% block body %}
    <style>
    @media screen and (max-width: 786px){
        .select-type-cmm-wrapper{
            flex-direction:column !important;
            align-items:center;
        }
        .coach_box_div{
            margin-top:20px;
            margin-right:5%;
        }
        .coach_num_div{
            margin-top:20px;
            margin-right:20px;
        }
        .coach_sort_div{
            margin-top:20px;
            margin-right:20px;
        }
    }
    </style>
    <form action="/cmm/coach_pro_table/" method="post">
        {% csrf_token %}
        <div id="all-filters">
            <div class="select-type-cmm-wrapper"
                 style="display: flex;
                        flex-direction: row;
                        justify-content: space-around">
                <div class="coach_box_div">{% include 'cmm/coach_pro_components/coach_number_box.html' %}</div>
                <div class="coach_num_div">{% include 'cmm/coach_pro_components/coach_numbers.html' %}</div>
                <div class="coach_sort_div">{% include 'cmm/coach_pro_components/sort_filter.html' %}</div>
            </div>
            <center class="my-3">
                <button type="submit" class="btn btn-danger">Submit</button>
            </center>
        </div>
        <hr>
    </form>
    <center>
        <button class="btn-dark btn show-btn " id="show-filters">Hide Filters</button>
    </center>
    <script>
        $(document).ready(function () {
            $("#show-filters").click(function () {
                $("#all-filters").fadeToggle();
                if ($("#show-filters").text() == "Show Filters") {
                    $("#show-filters").text("Hide Filters");
                } else {
                    $("#show-filters").text("Show Filters");
                }
                
            });
        })

        var inputs = document.getElementsByClassName("vscomp-search-input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].placeholder = "select all, type here to search";
        }
    </script>
{% endblock %}
