<div style="display: flex;
            flex-direction: column;
            justify-content: space-around">
    <div>
        <center>
            <div class="head my-2"
                 style="display: flex;
                        flex-direction: row;
                        width: 60%;
                        justify-content: space-around">
                <h6>Problem Date</h6>
                <div class="d-inline muted text-danger">
                    <small>* Required</small>
                </div>
            </div>
        </center>
        {% if problem_start %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="problem-start">
                        <b>From:</b>
                    </label>
                    <input id="problem-start"
                           type="date"
                           name="problem-start"
                           value="{{ problem_start }}"
                           required>
                </div>
                <div>
                    <label for="problem-end">
                        <b>To:</b>
                    </label>
                    <input id="problem-end"
                           type="date"
                           name="problem-end"
                           value="{{ problem_end }}"
                           required>
                </div>
            </div>
        {% else %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="problem-start">
                        <b>From:</b>
                    </label>
                    <input id="problem-start" type="date" name="problem-start"  required>
                </div>
                <div>
                    <label for="problem-end">
                        <b>To:</b>
                    </label>
                    <input id="problem-end" type="date" name="problem-end" required>
                </div>
            </div>
        {% endif %}
    </div>
    <div>
        <div class="head my-2">
            <h6>Placement Date</h6>
        </div>
        {% if placement_start %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="placement-start">
                        <b>From:</b>
                    </label>
                    <input id="placement-start"
                           type="date"
                           name="placement-start"
                           value="{{ placement_start }}">
                </div>
                <div>
                    <label for="placement-end">
                        <b>To:</b>
                    </label>
                    <input id="placement-end"
                           type="date"
                           name="placement-end"
                           value="{{ placement_end }}">
                </div>
            </div>
        {% else %}
            <div style="display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center">
                <div>
                    <label for="placement-start">
                        <b>From:</b>
                    </label>
                    <input id="placement-start" type="date" name="placement-start">
                </div>
                <div>
                    <label for="placement-end">
                        <b>To:</b>
                    </label>
                    <input id="placement-end" type="date" name="placement-end">
                </div>
            </div>
        {% endif %}
    </div>
    <cdiv>
    <div class="head my-2">
        <h6>Fit Date</h6>
    </div>
    {% if fit_start %}
        <div style="display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center">
            <div>
                <label for="fit-start">
                    <b>From:</b>
                </label>
                <input id="fit-start" type="date" name="fit-start" value="{{ fit_start }}">
            </div>
            <div>
                <label for="fit-end">
                    <b>To:</b>
                </label>
                <input id="fit-end" type="date" name="fit-end" value="{{ fit_end }}">
            </div>
        </div>
    {% else %}
        <div style="display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center">
            <div>
                <label for="fit-start">
                    <b>From:</b>
                </label>
                <input id="fit-start" type="date" name="fit-start">
            </div>
            <div>
                <label for="fit-end">
                    <b>To:</b>
                </label>
                <input id="fit-end" type="date" name="fit-end">
            </div>
        </div>
    {% endif %}
</div>
</div>
