{% load customcmm %}
<div class="d-flex justify-content-center align-items-center">
    {% for category in trains_cat %}
        <div class="m-1">
            {% if category in check_type %}
                <input this="true"
                       type="checkbox"
                       name="check-type"
                       id="{{ category }}"
                       value="{{ category }}"
                       checked>
            {% else %}
                <input this="true"
                       type="checkbox"
                       name="check-type"
                       id="{{ category }}"
                       value="{{ category }}">
            {% endif %}
            {% if category == 'all' %}
                <label class="mr-3">
                    <h5>Select All</h5>
                </label>
                <br>
            {% else %}
                <label class="mr-3">
                    <h5>{{ category|upper }}</h5>
                </label>
                <br>
            {% endif %}
        </div>
    {% endfor %}
</div>
<span id="dots"></span><span id="more">
    {% for t_n in train_number %}
        {% for train_number in t_n %}
            {% if train_number|convertint in rncc %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           rncc="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           rncc="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in rgd %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           rgd="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           rgd="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in dnr %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           dnr="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           dnr="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in pnbe %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           pnbe="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           pnbe="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in ppta %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ppta="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ppta="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in ipr %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ipr="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ipr="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in keu %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           keu="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           keu="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in mka %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           mka="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           mka="true"
                           this="true">
                {% endif %}
            {% elif train_number|convertint in ara %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ara="true"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           ara="true"
                           this="true">
                {% endif %}
            {% else %}
                {% if train_number|convertint in checked %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           this="true"
                           checked>
                {% else %}
                    <input type="checkbox"
                           name="train_number"
                           class="check-box"
                           value="{{ train_number|convertint }}"
                           this="true">
                {% endif %}
            {% endif %}
            <label>{{ train_number|convertint }}&nbsp;&nbsp;</label>
        {% endfor %}
    {% endfor %}
</div>
</center>
</span>
<center>
    <button onclick="myFunction()"
            id="myBtn"
            class="btn btn-sm btn-primary"
            type="button">Show more</button>
</center>
<br>
