{% block body %}
    {% load static %}
    <!-- sort ascending or descending dropdown -->
    <center>
        <select name="sort-method"
                id="sort-method"
                placeholder="Sort complain numbers"
                class="sort-method">
            {% if sorting_method == 'desc' %}
                <option value="desc" selected>Descending (9 - 0)</option>
            {% else %}
                <option value="desc">Descending (9 - 0)</option>
            {% endif %}
            {% if sorting_method == 'asc' %}
                <option value="asc" selected>Ascending (0 - 9)</option>
            {% else %}
                <option value="asc">Ascending (0 - 9)</option>
            {% endif %}
        </select>
    </center>
    <script type="text/javascript"
            src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
    <script type="text/javascript">
    VirtualSelect.init({
      ele: '#sort-method',
      autoSelectFirstOption: false,
    });
    </script>
{% endblock %}
