{% load customcmm %}
{% load static %}
<div class="d-flex justify-content-center align-items-center "
     style="margin-top: auto;
            margin-bottom: auto">
    <select id="vehicle-type-dropdown"
            name="vehicle-type-dropdown"
            multiple
            placeholder="Select vehicle type"
            multiple>
        {% for type in vehicle_type %}<option value="{{ type }}">{{ type }}</option>{% endfor %}
    </select>
</div>
<script type="text/javascript"
        src="{% static 'assets/js/virtual-select/virtual-select.min.js' %}"></script>
<script type="text/javascript">
    VirtualSelect.init({
      ele: '#vehicle-type-dropdown',
      search: true,
      optionSelectedText: 'option selected',
      noOfDisplayValues: 1,
      alwaysShowSelectedOptionsCount: true,
      optionsCount: 7,
      showSelectedOptionsFirst: true,
    });
</script>
